<div>
    <div>
        <input type="radio" name="baseLayer" ng-model="$parent.$parent.currentBaseLayerName"
               ng-value="control.layerName" ng-show="layerData.isBaseLayer"
               ng-change="control.changeBaseLayer(layerData)">
        <input type="checkbox" ng-model="control.visibility"
               ng-hide="layerData.isBaseLayer"
               ng-change="control.changeVisibility(layerData, control.visibility)">
        <b style="padding-left:10px;">{{$root.ellipsis(layerData.name, 65)}}</b>
    </div>
    <div style="height:30px;">
        <div class="pull-right">
            <div class="layer-query-colorpicker"
                 ng-class="{'colorpicker-heatmap': layerData.styles === 'stealth_heatmap'}"
                 ng-style="control.style"
                 ng-show="layerData.styles === 'stealth_heatmap' || layerData.styles === 'stealth_dataPoints'"></div>
            <div style="display:inline-block;">
                Opacity:
                <input type="number" class="form-control input-sm"
                       required style="display:inline-block;max-width:55px;"
                       min="0" max="1" step="0.1" ng-model="control.opacity"
                       ng-change="control.changeOpacity(layerData, control.opacity)">
            </div>
            <div style="width:85px;padding-left:10px;display:inline-block;">
                <span ng-hide="layerData.isBaseLayer">
                    <a class="ctrl up fa fa-lg fa-chevron-up btn btn-default" style="padding:1px;color:#428bca;" href=""></a>
                    <a class="ctrl down fa fa-lg fa-chevron-down btn btn-default" style="padding:1px;color:#428bca;" href=""></a>
                    <a ng-if="!layerData.permanent" class="ctrl remove fa fa-lg fa-times btn btn-default" style="padding:1px;color:#a94442;" href=""></a>
                </span>
            </div>
        </div>
    </div>
</div>
