<div class="modal-header">
    <i class="fa fa-globe fa-lg"></i> Add a Layer
    <i class="fa fa-times pull-right btn btn-default btn-sm" ng-click="modal.cancel()"></i>
</div>
<form ng-submit="query.addLayer()">
    <div class="modal-body">
        <div class="form-group">
            <label for=""><span class="form-step">1</span> Enter a server url</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="geoserverUrl" onclick="this.select();"
                    ng-model="query.serverData.proposedGeoserverUrl"
                    ng-keypress="$event.keyCode == 13 ? query.updateServer() : false">

                <span class="input-group-btn">
                    <button ng-click="query.updateServer()"
                        type="button"
                        class="btn btn-default btn-sm">Choose</button>
                </span>
            </div>
            <div class="alert alert-danger" ng-show="query.getCapabilitiesError">
                <i class="fa fa-warning"></i>
                {{ query.getCapabilitiesError }}
            </div>
        </div>

        <div class="form-group" ng-show="query.formStep() > 1">
            <label for=""><span class="form-step">2</span> Select a layer from: <span class="label label-success">{{query.serverData.currentGeoserverUrl}}</span></label>
            <select class="form-control input-sm"
                ng-model="query.layerData.currentLayer"
                ng-init="query.layerData.currentLayer"
                ng-change="query.getFeatureTypeDescription()"
                ng-options="layer.name for layer in query.layerData.layers | orderBy:'name'">
            </select>
        </div>

        <div class="form-group" ng-show="query.formStep() > 2">
            <blockquote class="feature-type-data-container">
                <div class="feature-type-header-container">
                    <h4>{{ query.layerData.currentLayer.title }}</h4>
                    <p>{{ query.layerData.currentLayer.abstract }}</p>
                </div>

                <div ng-switch="query.featureTypeData">
                    <div ng-switch-when="unavailable" class="alert alert-warning">
                        <i class="fa fa-warning"></i> There is no feature type description for this layer.
                    </div>
                    <div ng-switch-default class="feature-type-properties-container">
                        <section ng-show="query.featureTypeData !== 'unavailable'"
                            ng-repeat="featureType in query.featureTypeData.featureTypes">
                            <h5>Properties for type <strong>{{ featureType.typeName }}</strong></h5>
                            <table class="table-condensed">
                                <tr ng-repeat="property in featureType.properties">
                                    <td>{{ property.name }}</td>
                                    <td><code>{{ property.localType }}</code></td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
            </blockquote>
        </div>

        <div class="form-group" ng-show="query.formStep() > 2">
            <label for=""><span class="form-step">3</span> Enter a name for this layer</label>
            <input type="text" class="form-control input-sm" name="layerName" placeholder="Enter layer name"
                ng-model="query.layerData.currentLayerFriendlyName" onclick="this.select();">
        </div>

        <div class="form-group" ng-show="query.formStep() > 3">
            <label for=""><span class="form-step">4</span> Enter CQL</label>
            <input type="text" class="form-control input-sm" name="siteCql" placeholder="Enter CQL"
                ng-model="query.filterData.cql" onclick="this.select();">
        </div>

        <div class="form-group" ng-show="query.formStep() > 3">
            <label for=""><span class="form-step">5</span> Choose style</label>
            <div>
                <select class="form-control input-sm" style="width:auto;display:inline-block;"
                        ng-model="query.style.name"
                        ng-init="query.style.name">
                    <option value="">Default</option>
                    <option value="stealth_dataPoints">Point</option>
                    <option value="stealth_heatmap">Heatmap</option>
                </select>
                <span class="layer-query-colorpicker" ng-style="query.style"
                      colorpicker colorpicker-position="top"
                      ng-model="query.style['background-color']"
                      ng-show="query.style.name === 'stealth_dataPoints'"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
            ng-disabled="query.formStep() < 3"
            ng-click="modal.cancel()">
            Add
        </button>
    </div>
</form>
