<div id="activityIndicator" ng-controller="ActivityIndicatorController">
    <left-pane is-visible="activityIndicator.isLeftPaneVisible" overlay-id="activityIndicatorLeftPaneOverlay">
        <!-- Top tabs -->
        <ul class="nav nav-tabs">
            <li ng-class="{active: activityIndicator.leftPaneView==='sites'}" ng-click="activityIndicator.leftPaneView='sites'">
                <a href="#/activityIndicator">
                    <i class="fa fa-bolt fa-lg"></i>
                    Alerts
                    <span class="badge">{{activityIndicator.sites.length}}</span>
                </a>
            </li>
            <li ng-if="CONFIG.imagery.support && CONFIG.imagery.servers.length > 0"
                ng-class="{active: activityIndicator.leftPaneView==='imagery'}"
                ng-click="activityIndicator.leftPaneView='imagery'">
                <a href="#/activityIndicator">
                    <i class="fa fa-image fa-lg"></i>
                    Imagery
                </a>
            </li>
            <li ng-class="{active: activityIndicator.leftPaneView==='layers'}" ng-click="activityIndicator.leftPaneView='layers'">
                <a href="#/activityIndicator">
                    <i class="fa fa-globe fa-lg"></i>
                    Map Layers
                </a>
            </li>
        </ul>

        <!-- Pane content area -->
        <div>
            <!-- Sites panel -->
            <div class="tab-pane" ng-show="activityIndicator.leftPaneView === 'sites'">
                <flexy-layout orientation="vertical">
                    <block-container>
                        <header>
                            <i class="fa fa-bolt fa-lg"></i> Alerts
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs"
                                        ng-disabled="activityIndicator.siteList.currentPage == 1"
                                        ng-click="activityIndicator.siteList.currentPage=activityIndicator.siteList.currentPage-1">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <input type="number" size="3" style="max-width:40px;" ng-model="activityIndicator.siteList.currentPage">/{{activityIndicator.siteList.numberOfPages()}}
                                <button style="margin-right:15px;" class="btn btn-default btn-xs"
                                        ng-disabled="activityIndicator.siteList.currentPage >= activityIndicator.sites.length/activityIndicator.siteList.pageSize"
                                        ng-click="activityIndicator.siteList.currentPage=activityIndicator.siteList.currentPage+1">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </span>
                        </header>
                        <table style="margin-top:50px;">
                            <tr>
                                <td style="padding:2px 4px;">
                                    <span class="input-group" style="width:130px;">
                                        <input datepicker-popup size="11" type="text"
                                               class="form-control input-sm" is-open="activityIndicator.startDateOpen"
                                               ng-model="activityIndicator.startDate">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm"
                                                    ng-click="activityIndicator.startDateOpen = activityIndicator.toggleDateOpen($event, activityIndicator.startDateOpen)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </span>
                                </td>
                                <td style="padding:2px 4px;">to</td>
                                <td style="padding:2px 4px;">
                                    <span class="input-group" style="width:130px;">
                                        <input datepicker-popup size="11" type="text"
                                               class="form-control input-sm" is-open="activityIndicator.endDateOpen"
                                               ng-model="activityIndicator.endDate">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm"
                                                    ng-click="activityIndicator.endDateOpen = activityIndicator.toggleDateOpen($event, activityIndicator.endDateOpen)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </span>
                                </td>
                                <td style="padding:2px 4px;">
                                    <button class="btn btn-primary btn-xs" ng-click="activityIndicator.refreshAlerts()">
                                        <i class="fa fa-refresh"></i> Update
                                    </button>
                                </td>
                                <td style="padding:2px 4px;">
                                    <span class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-xs"
                                               ng-class="{active: activityIndicator.autoRefresh}">
                                            <input type="checkbox"
                                                   ng-model="activityIndicator.autoRefresh"
                                                   ng-change="activityIndicator.toggleAutoRefresh(image)">
                                            <i class="fa fa-cog"></i> Enable Auto-Refresh
                                        </label>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <ul class="rank-list list-unstyled" style="margin-top:10px;">
                            <li class="list-hover" ng-class="{newAlert: activityIndicator.newAlertIds[site.id]}"
                                ng-repeat="site in activityIndicator.sites | startFrom:(activityIndicator.siteList.currentPage-1)*activityIndicator.siteList.pageSize | limitTo:activityIndicator.siteList.pageSize"
                                ng-click="activityIndicator.select(site, site.properties.dtg)"
                                ng-mouseenter="activityIndicator.highlightAlertOnMap(site)"
                                ng-mouseleave="activityIndicator.unhighlightAlertOnMap(site)"
                                style="padding:4px 2px;margin:4px 2px;">
                                <span>{{ellipsis(site.properties.site, 70)}}</span>
                                <span class="pull-right">
                                    {{site.properties.dtg.substr(0, 10)}}
                                    <button class="btn btn-success btn-xs" ng-click="activityIndicator.searchImagery(site, $event)">
                                        <i class="fa fa-camera"></i>
                                    </button>
                                </span>
                            </li>
                        </ul>
                    </block-container>
                </flexy-layout>
            </div>

            <!-- Imagery panel -->
            <div class="tab-pane" ng-if="CONFIG.imagery.support && CONFIG.imagery.servers.length > 0"
                 ng-show="activityIndicator.leftPaneView === 'imagery'">
                <imagery-form></imagery-form>
            </div>

            <!-- Layer manager panel -->
            <div class="tab-pane" ng-show="activityIndicator.leftPaneView === 'layers'">
                <div openlayers-manager map="activityIndicator.map"></div>
            </div>
        </div>
    </left-pane>

    <!-- Map -->
    <center-pane is-full-width="!activityIndicator.isLeftPaneVisible">
        <openlayers-map id="activityIndicatorMap" map="activityIndicator.map">
            <openlayers-measure></openlayers-measure>
        </openlayers-map>
        <div id="timeseriesContainer" ng-class="{'showTimeseriesContainer': activityIndicator.showTimeseriesContainer}">
            <h4>
                {{activityIndicator.selectedSiteName}}
                <i class="fa fa-times pull-right btn btn-default btn-sm" style="font-size:10px;"
                   ng-click="activityIndicator.showTimeseriesContainer = false"></i>
            </h4>
            <div id="timeseries"></div>
        </div>
    </center-pane>
</div>
