<ng-form name="staticOptionsForm">
    <label>Additional filter:</label>
    <input type="text" placeholder="CQL filter" ng-model="p2pquery.params.cql" style="width:399px">
    <div ng-switch="p2pquery.featureTypeData"
         style="color:black;background:#eee;border 1px solid #aaa;border-radius:4px;padding:0;margin-left:12px;margin-right:12px;margin-top:10px">
        <div ng-switch-when="pending">
            <i class="fa fa-spinner fa-spin fa-lg" style="padding-left:5px;padding-right:5px"></i>
            Fetching feature type description.
        </div>
        <div ng-switch-when="unavailable" class="alert alert-warning">
            <i class="fa fa-warning"></i> There is no feature type description for this layer.
        </div>
        <div ng-switch-default>
            <section ng-class="{'ng-hide': p2pquery.layer[0].featureTypeDescription === 'unavailable'}"
                     ng-repeat="featureType in p2pquery.layer[0].featureTypeDescription.featureTypes">
                <div style="overflow:auto;padding:0 10px;">
                    <table class="table-condensed">
                        <tr ng-repeat="property in featureType.properties">
                            <td>{{ property.name }}</td>
                            <td><code>{{ property.localType }}</code></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <hr>
    <span>
        <label>Line Width:</label>
        <input type="number" ui-jq="spinner"
               class="form-control input-sm"
               style="height:21px"
               ng-model="p2pquery.params.lineWidth"
               min="1" max="10">
    </span>
     <span>
        <label>Arrow Size:</label>
        <input type="number" ui-jq="spinner"
               class="form-control input-sm"
               style="height:21px"
               ng-model="p2pquery.params.arrowSize"
               min="3" max="20">
    </span>
   <hr>
    <p style="margin-top:20px;">
        Give this P2P Query Layer a meaningful name.<br>
    </p>
    <label>Name: </label>
    <input type="text" placeholder="Layer name" ng-model="p2pquery.params.title" style="width:300px;" required>
</ng-form>
