<ng-form name="wizardForm">
    <p>
        Enter spatial bounds.
    </p>
    <div style="text-align:center;" ng-class="{'ng-hide': boundWiz.drawing}">
        <table style="border-collapse:separate;border-spacing:2px;margin:5px auto;">
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="number" placeholder="Max Lat (deg)" ui-jq="spinner" style="max-width:90px;"
                       min="-90" max="90" step="0.001" ng-model="p2pquery.params.maxLat" required />
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" placeholder="Min Lon (deg)" ui-jq="spinner" style="max-width:90px;"
                       min="-180" max="180" step="0.001" ng-model="p2pquery.params.minLon" required />
                </td>
                <td colspan="2">
                    <input type="number" placeholder="Max Lon (deg)" ui-jq="spinner" style="max-width:90px;"
                       min="-180" max="180" step="0.001" ng-model="p2pquery.params.maxLon" required />
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="number" placeholder="Min Lat (deg)" ui-jq="spinner" style="max-width:90px;"
                           min="-90" max="90" step="0.001" ng-model="p2pquery.params.minLat" required />
                </td>
                <td></td>
            </tr>
        </table>
        <div style="margin-top:10px;">
            <div class="btn btn-default btn-xs" ng-click="boundWiz.setWholeEarth()">Whole Earth</div>
            <div class="btn btn-default btn-xs" ng-click="boundWiz.setMapExtent()">Use Map Extent</div>
            <div class="btn btn-default btn-xs" ng-click="boundWiz.drawExtent()">Draw Bounds</div>
        </div>
    </div>
    <div style="margin-top:2px;" ng-class="{'ng-hide': !boundWiz.drawing}">
        Click and drag on the map to draw bounding box.
    </div>
</ng-form>
