<div class="modal-header">
    <i class="fa fa-map-marker fa-lg"></i> Add Sites
    <i class="fa fa-times pull-right btn btn-default btn-sm" ng-click="addSites.cancel()"></i>
</div>
<form ng-submit="addSites.submit()">
    <div class="modal-body">
        <div class="form-group">
            <label for="">Select a layer</label>
            <select class="form-control input-sm"
                ng-model="addSites.currentLayer"
                ng-init="addSites.currentLayer"
                ng-options="layer.name for layer in addSites.layers | orderBy:'name'">
            </select>
        </div>
        <div class="form-group">
            <label for="">Enter CQL</label>
            <input type="text" class="form-control input-sm" name="siteCql" placeholder="Enter CQL" 
                ng-model="addSites.formData.cql_filter">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block">
            Submit
        </button>
    </div>
</form>
