<div class="modal-header">
    <i class="fa fa-map-marker fa-lg"></i> Select Input
    <i class="fa fa-times pull-right btn btn-default btn-sm" ng-click="modal.cancel()"></i>
</div>
<form ng-submit="addSites.submit()">
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': addSites.serverData.error }">
            <label for=""><span class="form-step">1</span> Enter a server url</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="geoserverUrl"
                    ng-model="addSites.serverData.proposedGeoserverUrl"
                    ng-keypress="$event.keyCode == 13 ? addSites.updateServer() : false">

                <span class="input-group-btn">
                    <button ng-click="addSites.updateServer()"
                        type="button"
                        class="btn btn-default btn-sm">Choose</button>
                </span>
            </div>
            <div class="alert alert-danger" ng-show="addSites.serverData.error">
                <i class="fa fa-warning"></i>
                {{ addSites.serverData.error }}
            </div>
        </div>

        <div class="form-group" ng-show="addSites.formStep() > 1">
            <label for=""><span class="form-step">2</span> Choose an input type:</label>
            <div class="btn-group">
                <label class="btn btn-default" ng-repeat="type in addSites.types" ng-model="addSites.inputData.type" btn-radio="'{{type.key}}'">{{type.display}}</label>
            </div>
        </div>

        <div class="form-group" ng-show="addSites.formStep() > 2">
            <label for=""><span class="form-step">3</span> Select a layer from: <span class="label label-success">{{addSites.serverData.currentGeoserverUrl}}</span></label>
            <select class="form-control input-sm"
                ng-model="addSites.layerData.currentLayer"
                ng-init="addSites.layerData.currentLayer"
                ng-change="addSites.getFeatureTypeDescription()"
                ng-options="layer.name for layer in addSites.layerData.layers | orderBy:'name' | filter:addSites.matchGeoserverWorkspace">
            </select>
        </div>

        <div class="form-group" ng-show="addSites.formStep() > 3">
            <blockquote class="feature-type-data-container">
                <h4>{{ addSites.layerData.currentLayer.title }}</h4>
                <p>{{ addSites.layerData.currentLayer.abstract }}</p>

                <div ng-switch="featureTypeData">
                    <div ng-switch-when="unavailable" class="alert alert-warning">
                        <i class="fa fa-warning"></i> There is no feature type description for this layer.
                    </div>
                    <div ng-switch-default class="feature-type-properties-container">
                        <section ng-show="featureTypeData !== 'unavailable'"
                            ng-repeat="featureType in featureTypeData.featureTypes">
                            <h5>Properties for type <strong>{{ featureType.typeName }}</strong></h5>
                            <table class="table-condensed">
                                <tr ng-repeat="property in featureType.properties">
                                    <td>{{ property.name }}</td>
                                    <td><code>{{ property.localType }}</code></td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
            </blockquote>
            <label for=""><span class="form-step">4</span> Enter CQL</label>
            <input type="text" class="form-control input-sm" name="siteCql" placeholder="Enter CQL"
                ng-model="addSites.filterData.cql">
        </div>

        <div class="form-group" ng-show="addSites.showSpinner">
            <i class="fa fa-spinner fa-2x fa-spin"></i>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
            ng-disabled="addSites.formStep() < 4"
            ng-click="modal.cancel()">
            Submit
        </button>
    </div>
</form>
