<ul class="nav nav-pills nav-justified">
    <li ng-class="{active: targetRank.leftPaneView==='analysis'}" ng-click="targetRank.leftPaneView='analysis'" class="btn btn-default">
        <div class="fa fa-map-marker fa-eye"></div> Analysis</span>
    </li>
    <li ng-class="{active: targetRank.leftPaneView==='targets'}" class="btn btn-default" ng-click="targetRank.leftPaneView='targets'">
        <div class="fa fa-crosshairs fa-lg"></div> Targets <span class="badge">{{targetRank.numTargets}}</span>
    </li>
</ul>