<div id="targetRank" ng-controller="TargetRankController">
    <left-pane is-visible="targetRank.isLeftPaneVisible">

        <!-- Top tabs -->
        <ul class="nav nav-tabs">
            <li ng-class="{active: targetRank.leftPaneView==='analysis'}" ng-click="targetRank.leftPaneView='analysis'">
                <a href="#/targetRank">
                    <i class="fa fa-eye"></i>
                    Analysis
                </a>
            </li>
            <li ng-class="{active: targetRank.leftPaneView==='targets'}" ng-click="targetRank.leftPaneView='targets'">
                <a href="#/targetRank">
                    <i class="fa fa-crosshairs fa-lg"></i>
                    Targets
                    <span class="badge">{{targetRank.numTargets}}</span>
                </a>
            </li>
        </ul>

        <!-- Pane content area -->
        <div>
            <!-- Analysis panel -->
            <div class="tab-pane" ng-show="targetRank.leftPaneView === 'analysis'">
                <div class="instructions alert alert-info"
                    ng-show="!targetRank.sites">
                    <i class="fa fa-info-circle fa-3x"></i>
                    <span>Select an input source and enter a query to begin.</span>
                    <button class="btn btn-default"
                        ng-click="addSites.showWindow()">Get Started</button>
                </div>
                <ui-layout options="{flow: 'row'}"
                    ng-show="targetRank.sites">
                    <section id="sites-section">
                        <header>
                            <i class="fa fa-map-marker fa-lg"></i>
                            {{targetRank.inputData.display ? targetRank.inputData.display : 'Input'}}
                            <span class="badge">{{targetRank.numSites}}</span>
                            <button class="btn btn-default btn-xs pull-right"
                                ng-click="addSites.showWindow()">
                                Change {{targetRank.inputData.display ? targetRank.inputData.display : 'Input'}}
                            </button>
                        </header>
                        <ul class="sites-list list-unstyled">
                            <li ng-repeat="site in targetRank.sites">
                                <h4 ng-show="site.id">{{ site.id }}</h4>
                                <div class="property"
                                    ng-repeat="(key, val) in site.properties">
                                    <strong>{{ key }}:</strong> {{ val }}
                                </div>
                            </li>
                        </ul>
                    </section>

                    <section id="data-section">
                        <header>
                            <i class="fa fa-database fa-lg"></i> Data Layers
                            <span class="badge">{{targetRank.numData}}</span>
                        </header>
                        <ul class="list-unstyled data-layers">
                            <li class="checkbox"
                                ng-repeat="(workspace, layers) in dataLayers">

                                <div ng-if="layers.length === 1">
                                    <label class="header-label">
                                        <input type="checkbox"
                                            ng-change="targetRank.updateNumData()"
                                            ng-model="layers[0].isSelected"> {{ellipsis(layers[0].name, 60)}}
                                    </label>
                                    <i class="fa fa-lg pull-right spatial-query-status"
                                       ng-class="{'fa-globe': layers[0].spatialQueryStatus === 'done',
                                            'fa-exclamation-triangle': layers[0].spatialQueryStatus === 'error',
                                            'fa-spinner fa-spin': layers[0].spatialQueryStatus === 'running'}"></i>
                                </div>

                                <label ng-if="layers.length > 1"
                                    class="header-label">
                                    <input type="checkbox"
                                        ng-click="targetRank.updateNumData()"
                                        group-checkbox="layers.isSelected"> {{ellipsis(workspace, 60)}}
                                </label>

                                <ul ng-if="layers.length > 1"
                                    class="list-unstyled workspace-layers nest">
                                    <li class="checkbox" ng-repeat="layer in layers">
                                        <label>
                                            <input type="checkbox"
                                                ng-change="targetRank.updateNumData()"
                                                ng-model="layer.isSelected"> {{ellipsis(layer.name, 60)}}
                                        </label>
                                        <i class="fa fa-lg pull-right spatial-query-status"
                                           ng-class="{'fa-globe': layer.spatialQueryStatus === 'done',
                                                'fa-exclamation-triangle': layer.spatialQueryStatus === 'error',
                                                'fa-spinner fa-spin': layer.spatialQueryStatus === 'running'}"></i>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>

                    <section id="options-section">
                        <header>
                            <i class="fa fa-cog fa-lg"></i> Options
                            <button class="btn btn-danger btn-xs pull-right" ng-click="targetRank.run()">
                                Run
                            </button>
                        </header>
                        <ul ng-switch="targetRank.inputData.type">
                            <form ng-switch-default>
                                <label for="">Proximity (meters)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="proximityMeters"
                                           ng-model="options.proximityMeters" style="width:50px;">
                                </div>
                                <label for="">Start time (yyyy-MM-ddTHH:mm:ss.sssZ)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="startTime"
                                           ng-model="options.startTime" style="width:200px;">
                                </div>
                                <label for="">End time (yyyy-MM-ddTHH:mm:ss.sssZ)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="endTime"
                                           ng-model="options.endTime" style="width:200px;">
                                </div>
                            </form>
                            <form ng-switch-when="track">
                                <label for="">Maximum speed (m/s)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="maxSpeedMps"
                                           ng-model="options.maxSpeedMps" style="width:70px;">
                                </div>
                                <label for="">Maximum time (s)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="maxTimeSec"
                                           ng-model="options.maxTimeSec" style="width:70px;">
                                </div>
                            </form>
                        </ul>
                    </section>
                </ui-layout>
            </div>

            <!-- Targets panel -->
            <div class="tab-pane" ng-show="targetRank.leftPaneView === 'targets'">
                targets
            </div>
        </div>
    </left-pane>

    <!-- Map -->
    <center-pane is-full-width="!targetRank.isLeftPaneVisible">
        <openlayers-map id="targetRankMap" map="map"></openlayers-map>
    </center-pane>
</div>
