<div id="targetRank" ng-controller="TargetRankController">
    <left-pane is-visible="targetRank.isLeftPaneVisible" overlay-id="targetRankLeftPaneOverlay">
        <!-- Top tabs -->
        <ul class="nav nav-tabs">
            <li ng-class="{active: targetRank.leftPaneView==='analysis'}" ng-click="targetRank.leftPaneView='analysis'">
                <a href="#/targetRank">
                    <i class="fa fa-eye"></i>
                    Analysis
                </a>
            </li>
            <li ng-class="{active: targetRank.leftPaneView==='targets'}" ng-click="targetRank.leftPaneView='targets'">
                <a href="#/targetRank">
                    <i class="fa fa-crosshairs fa-lg"></i>
                    Targets
                    <span class="badge">{{targetRank.targets.length}}</span>
                </a>
            </li>
            <li ng-if="CONFIG.imagery.support && CONFIG.imagery.servers.length > 0"
                ng-class="{active: targetRank.leftPaneView==='imagery'}"
                ng-click="targetRank.leftPaneView='imagery'">
                <a href="#/targetRank">
                    <i class="fa fa-image fa-lg"></i>
                    Imagery
                </a>
            </li>
            <li ng-class="{active: targetRank.leftPaneView==='layers'}" ng-click="targetRank.leftPaneView='layers'">
                <a href="#/targetRank">
                    <i class="fa fa-globe fa-lg"></i>
                    Map Layers
                </a>
            </li>
        </ul>

        <!-- Pane content area -->
        <div>
            <!-- Analysis panel -->
            <div class="tab-pane" ng-show="targetRank.leftPaneView === 'analysis'">
                <div class="instructions alert alert-info"
                    ng-show="!targetRank.loadingSites && targetRank.sites.length < 1">
                    <i class="fa fa-info-circle fa-3x" style="vertical-align:top;"></i>
                    <div style="display:inline-block;">
                        <div>
                            <span>Query an input source to begin.</span>
                            <button class="btn btn-default"
                                    ng-click="addSites.showWindow()">Query</button>
                        </div>
                        <div style="padding-left:100px;">Or</div>
                        <div>
                            <span>Create an input on the map with the tools on the right.</span>
                        </div>
                    </div>
                </div>
                <flexy-layout orientation="vertical"
                              ng-show="targetRank.loadingSites || targetRank.sites.length > 0">
                    <block-container id="sites-section">
                        <header>
                            <i class="fa fa-map-marker fa-lg"></i>
                            {{targetRank.inputData.display ? targetRank.inputData.display : 'Input'}}
                            <span class="badge">{{targetRank.sites.length}}</span>
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs"
                                        ng-disabled="targetRank.inputList.currentPage == 1"
                                        ng-click="targetRank.inputList.currentPage=targetRank.inputList.currentPage-1">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <input type="number" size="3" style="max-width:40px;" ng-model="targetRank.inputList.currentPage">/{{targetRank.inputList.numberOfPages()}}
                                <button style="margin-right:15px;" class="btn btn-default btn-xs"
                                        ng-disabled="targetRank.inputList.currentPage >= targetRank.sites.length/targetRank.inputList.pageSize"
                                        ng-click="targetRank.inputList.currentPage=targetRank.inputList.currentPage+1">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                                <button class="btn btn-primary btn-xs"
                                        ng-click="addSites.showWindow()">
                                    Change {{targetRank.inputData.display ? targetRank.inputData.display : 'Input'}}
                                </button>
                            </span>
                        </header>
                        <ul ng-show="targetRank.loadingSites">
                            <li>
                                <i class="fa fa-2x fa-spinner fa-spin"></i>
                            </li>
                        </ul>
                        <ul class="sites-list list-unstyled" ng-hide="targetRank.loadingSites">
                            <li class="list-hover"
                                ng-repeat="site in targetRank.sites | startFrom:(targetRank.inputList.currentPage-1)*targetRank.inputList.pageSize | limitTo:targetRank.inputList.pageSize">
                                <h4 ng-show="site.id">{{ site.id }}</h4>
                                <div class="property"
                                    ng-repeat="(key, val) in site.properties">
                                    <strong>{{ key }}:</strong> {{ val }}
                                </div>
                            </li>
                        </ul>
                    </block-container>
                    <block-splitter></block-splitter>

                    <block-container id="data-section">
                        <header>
                            <i class="fa fa-database fa-lg"></i> Data Layers
                            <span class="badge">{{targetRank.numData}}</span>
                        </header>
                        <ul ng-show="targetRank.loadingDataLayers">
                            <li>
                                <i class="fa fa-2x fa-spinner fa-spin"></i>
                            </li>
                        </ul>
                        <ul class="alert alert-danger" style="margin-left:10px;margin-right:10px;" ng-show="targetRank.dataLayersError">
                            <li>
                                <i class="fa fa-warning"></i>
                                {{ targetRank.dataLayersError }}
                            </li>
                        </ul>
                        <ul class="list-unstyled data-layers" ng-hide="targetRank.loadingDataLayers || targetRank.dataLayersError">
                            <li class="checkbox"
                                ng-repeat="(workspace, layers) in targetRank.dataLayers">

                                <div ng-if="layers.length === 1">
                                    <label class="header-label">
                                        <input type="checkbox"
                                            ng-change="targetRank.updateNumData()"
                                            ng-model="layers[0].isSelected"> {{ellipsis(layers[0].name, 60)}}
                                    </label>
                                    <i class="fa fa-lg pull-right spatial-query-status"
                                       ng-click="targetRank.exportProximityLayer(layers[0])"
                                       ng-class="{'fa-globe': layers[0].spatialQueryStatus === 'done',
                                            'fa-exclamation-triangle': layers[0].spatialQueryStatus === 'error',
                                            'fa-spinner fa-spin': layers[0].spatialQueryStatus === 'running'}"></i>
                                </div>

                                <label ng-if="layers.length > 1"
                                    class="header-label">
                                    <input type="checkbox"
                                        ng-click="targetRank.updateNumData(200)"
                                        group-checkbox="layers.isSelected"> {{ellipsis(workspace, 60)}}
                                </label>

                                <ul ng-if="layers.length > 1"
                                    class="list-unstyled workspace-layers nest">
                                    <li class="checkbox" ng-repeat="layer in layers">
                                        <label>
                                            <input type="checkbox"
                                                ng-change="targetRank.updateNumData()"
                                                ng-model="layer.isSelected"> {{ellipsis(layer.name, 60)}}
                                        </label>
                                        <i class="fa fa-lg pull-right spatial-query-status"
                                           ng-click="targetRank.exportProximityLayer(layer)"
                                           ng-class="{'fa-globe': layer.spatialQueryStatus === 'done',
                                                'fa-exclamation-triangle': layer.spatialQueryStatus === 'error',
                                                'fa-spinner fa-spin': layer.spatialQueryStatus === 'running'}"></i>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </block-container>
                    <block-splitter></block-splitter>

                    <block-container id="options-section" init="220">
                        <header>
                            <i class="fa fa-cog fa-lg"></i> Options
                            <button style="margin-left:6px;" class="btn btn-danger btn-xs pull-right" ng-click="targetRank.doRank()">
                                Rank
                            </button>
                            <button class="btn btn-success btn-xs pull-right" ng-click="targetRank.doProximity()">
                                Map
                            </button>
                        </header>
                        <ul ng-switch="targetRank.inputData.type.substr(0, 5)">
                            <form ng-switch-default>
                                <table style="border-collapse:separate;border-spacing:0px 1px;">
                                    <tr><td>
                                        Proximity
                                    </td><td style="padding-left:15px;" colspan="2">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" name="proximityMeters"
                                                   ng-model="targetRank.options.proximityMeters" style="width:50px;">
                                            <span style="position:absolute;bottom:6px;">&nbsp;&nbsp;&nbsp;meters</span>
                                        </div>
                                    </td></tr>
                                    <tr><td>
                                        Start Date/Time
                                    </td><td style="padding-left:15px;">
                                        <input type="checkbox" ng-model="targetRank.options.useStartDatetime">
                                    </td><td style="padding-left:15px;" ng-class="{'semi-transparent': !targetRank.options.useStartDatetime}">
                                        <p class="input-group">
                                            <input datepicker-popup datepicker-append-to-body="true" size="11" type="text"
                                                   class="form-control input-sm" is-open="targetRank.optionsForm.startDateOpen"
                                                   ng-model="targetRank.options.startDate" ng-disabled="!targetRank.options.useStartDatetime">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        ng-click="targetRank.optionsForm.startDateOpen = targetRank.optionsForm.toggleDateOpen($event, targetRank.optionsForm.startDateOpen)"
                                                        ng-disabled="!targetRank.options.useStartDatetime">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </td><td style="padding-left:15px;" ng-class="{'semi-transparent': !targetRank.options.useStartDatetime}">
                                        <timepicker class="input-sm timepicker-sm" ng-model="targetRank.options.startTime" show-meridian="false"></timepicker>
                                    </td><td style="padding-left:5px;" ng-class="{'semi-transparent': !targetRank.options.useStartDatetime}">
                                        Z
                                    </td><td style="padding-left:15px;" ng-class="{'semi-transparent': !targetRank.options.useStartDatetime}">
                                        <button class="btn btn-primary btn-xs" ng-click="targetRank.optionsForm.clearStartDatetime()"
                                                ng-disabled="!targetRank.options.useStartDatetime">
                                            <i class="fa fa-eraser"></i> Clear
                                        </button>
                                    </td></tr>
                                    <tr><td>
                                        End Date/Time
                                    </td><td style="padding-left:15px;">
                                        <input type="checkbox" ng-model="targetRank.options.useEndDatetime">
                                    </td><td style="padding-left:15px;" ng-class="{'semi-transparent': !targetRank.options.useEndDatetime}">
                                        <p class="input-group">
                                            <input datepicker-popup datepicker-append-to-body="true" size="11" type="text"
                                                   class="form-control input-sm" is-open="targetRank.optionsForm.endDateOpen"
                                                   ng-model="targetRank.options.endDate" ng-disabled="!targetRank.options.useEndDatetime">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        ng-click="targetRank.optionsForm.endDateOpen = targetRank.optionsForm.toggleDateOpen($event, targetRank.optionsForm.endDateOpen)"
                                                        ng-disabled="!targetRank.options.useEndDatetime">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </td><td style="padding-left:15px;" ng-class="{'semi-transparent': !targetRank.options.useEndDatetime}">
                                        <timepicker class="input-sm timepicker-sm" ng-model="targetRank.options.endTime" show-meridian="false"></timepicker>
                                    </td><td style="padding-left:5px;" ng-class="{'semi-transparent': !targetRank.options.useEndDatetime}">
                                        Z
                                    </td><td style="padding-left:15px;" ng-class="{'semi-transparent': !targetRank.options.useEndDatetime}">
                                        <button class="btn btn-primary btn-xs" ng-click="targetRank.optionsForm.clearEndDatetime()"
                                                 ng-disabled="!targetRank.options.useEndDatetime">
                                            <i class="fa fa-eraser"></i> Clear
                                        </button>
                                    </td></tr>
                                </table>
                            </form>
                            <form ng-switch-when="track">
                                <table style="border-collapse:separate;border-spacing:0px 4px;">
                                    <tr><td style="padding-right:15px;">
                                        Max Speed
                                    </td><td>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" name="maxSpeedMps"
                                                   ng-model="targetRank.options.maxSpeedMps" style="width:70px;">
                                            <span style="position:absolute;bottom:6px;">&nbsp;&nbsp;&nbsp;meters/second</span>
                                        </div>
                                    </td></tr>
                                    <tr><td style="padding-right:15px;">
                                        Max Time
                                    </td><td>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" name="maxTimeSec"
                                                   ng-model="targetRank.options.maxTimeSec" style="width:70px;">
                                            <span style="position:absolute;bottom:6px;">&nbsp;&nbsp;&nbsp;seconds</span>
                                        </div>
                                    </td></tr>
                                </table>
                            </form>
                        </ul>
                    </block-container>
                </flexy-layout>
            </div>

            <!-- Targets panel -->
            <div class="tab-pane" ng-show="targetRank.leftPaneView === 'targets'">
                <div class="instructions alert alert-danger"
                     ng-show="!targetRank.targetList.loadingTargets && targetRank.targetList.errorMessage">
                    <i class="fa fa-exclamation-triangle fa-3x"></i>
                    <span>{{targetRank.targetList.errorMessage}}</span>
                </div>
                <ul ng-show="targetRank.targetList.loadingTargets">
                    <i class="fa fa-2x fa-spinner fa-spin"></i>
                </ul>
                <flexy-layout orientation="vertical"
                              ng-show="targetRank.targets.length > 0 && !targetRank.targetList.loadingTargets">
                    <block-container>
                        <header>
                            <i class="fa fa-crosshairs fa-lg"></i> Target Rankings
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs"
                                        ng-disabled="targetRank.targetList.currentPage == 1"
                                        ng-click="targetRank.targetList.currentPage=targetRank.targetList.currentPage-1">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <input type="number" size="3" style="max-width:40px;" ng-model="targetRank.targetList.currentPage">/{{targetRank.targetList.numberOfPages()}}
                                <button style="margin-right:15px;" class="btn btn-default btn-xs"
                                        ng-disabled="targetRank.targetList.currentPage >= targetRank.targets.length/targetRank.targetList.pageSize"
                                        ng-click="targetRank.targetList.currentPage=targetRank.targetList.currentPage+1">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" ng-click="targetRank.targetList.sendSelectedToSiteRank()">
                                    <i class="fa fa-share"></i> Send to Site Nomination
                                </button>
                            </span>
                        </header>
                        <ul class="rank-list list-unstyled">
                            <li class="list-hover" ng-class-even="'list-striped-alt'" ng-class="{'list-selected': target.isSelected}"
                                ng-repeat="target in targetRank.targets | startFrom:(targetRank.targetList.currentPage-1)*targetRank.targetList.pageSize | limitTo:targetRank.targetList.pageSize"
                                style="padding:5px 0;">
                                <div>
                                    <input type="checkbox" ng-model="target.isSelected">
                                </div>
                                <span>{{target.target}}</span>
                                <button class="pull-right btn btn-primary btn-xs" style="margin-right:5px;" ng-click="targetRank.targetList.showHistory(target)">Show</button>
                                <div class="pull-right" style="height:18px;width:200px;">
                                    <div class="pull-right btn-success rank-bar" style="height:100%;border:none;width:0px;"
                                         ng-style="{width: (target.score/targetRank.targetMeta.maxScore)*100 + '%'}">
                                    </div>
                                </div>
                                <span class="pull-right" style="padding-right:10px;">{{(target.score/targetRank.targetMeta.maxScore)*100 | number:1}}</span>
                            </li>
                        </ul>
                    </block-container>
                </flexy-layout>
            </div>

            <!-- Imagery panel -->
            <div class="tab-pane" ng-if="CONFIG.imagery.support && CONFIG.imagery.servers.length > 0"
                 ng-show="targetRank.leftPaneView === 'imagery'">
                <imagery-form></imagery-form>
            </div>

            <!-- Layer manager panel -->
            <div class="tab-pane" ng-show="targetRank.leftPaneView === 'layers'">
                <div openlayers-manager map="targetRank.map"></div>
            </div>
        </div>
    </left-pane>

    <!-- Map -->
    <center-pane is-full-width="!targetRank.isLeftPaneVisible">
        <openlayers-map id="targetRankMap" map="targetRank.map">
            <openlayers-popup></openlayers-popup>
            <openlayers-measure></openlayers-measure>
            <openlayers-draw-route></openlayers-draw-route>
            <openlayers-draw-erase></openlayers-draw-erase>
        </openlayers-map>
    </center-pane>
</div>
