<div style="max-height:300px;overflow:auto;">
    <div ng-if="workspaces | lodash:'isEmpty'" >
        <i>None</i>
    </div>
    <div ng-repeat="(workspace, layers) in workspaces" class="categoryGrouping">
        <b>{{::workspace}}</b>
        <div ng-repeat="layer in layers" class="categoryGrouping categoryIndent">
            <i>{{::layer.Title || layer.Name | characters:40:true}}</i>
            <span class="btn btn-default btn-xs catGroupButton"
                  ng-if="layer.queryable"
                  ng-click="launchLayerFilterWizard(layer)">
                <i class="fa fa-fw fa-plus text-primary"></i>
            </span>
            <div ng-repeat="filterLayer in layer.filterLayers" class="categoryGrouping categoryIndent">
                <input type="checkbox" ng-model="filterLayer.toggledOn" ng-change="toggleLayer(layer, filterLayer)">
                {{::filterLayer.name}}
                <span class="btn btn-default btn-xs catGroupButton"
                      ng-if="filterLayer.removeable" ng-click="removeLayer(layer, filterLayer)">
                    <i class="fa fa-fw fa-close text-danger"></i>
                </span>
                <div style="color:#888;font-style:italic;font-size:0.9em;margin-left:16px;">
                    {{::filterLayer.cqlFilter}}
                </div>
            </div>
        </div>
    </div>
</div>
