<div class="mapPopupContainer" ng-show="mapPopCtrl.showPopup" ng-click="mapPopCtrl.focus()">
    <div style="background-color: #ddd; width: 100%">
        <i class="fa fa-fw fa-search"></i> Lat: {{ mapPopCtrl.lat | number }}, Lon: {{ mapPopCtrl.lon | number }}
        <span class="pull-right">
            <span class="btn btn-default fa-stack toggleButton"
                  ng-class="{active: mapPopCtrl.isPinned()}"
                  style="vertical-align:top;"
                  ng-click="mapPopCtrl.togglePin()">
                <i class="fa fa-fw fa-thumb-tack fa-stack-1x"></i>
            </span>
            <span class="btn btn-default fa-stack toggleButton"
                  style="vertical-align:top;"
                  ng-click="mapPopCtrl.closePopup()">
                <i class="fa fa-fw fa-remove fa-stack-1x text-danger"></i>
            </span>
        </span>
    </div>
    <div st-ol3-map-popup-resize ng-style="mapPopCtrl.containerStyle">
        <div class="mapPopupTableContainer" ng-mousedown="mapPopCtrl.stopDrag($event)" ng-mouseup="mapPopCtrl.stopDrag($event)">
            <div style="display: table">
                <div style="display: table-row">
                    <div style="display: table-cell" ng-repeat="result in mapPopCtrl.results">
                        <div class="mapPopupRecord">
                            <div class="mapPopupRecordHeader">
                                <i class="fa fa-fw fa-square" ng-style="result.layerFill"></i>
                                {{ result.name }}
                            </div>
                            <div style="display: table-row-group">
                                <div style="display: table-row">
                                    <div style="display: table-cell">
                                        <div style="display: table">
                                            <div style="display: table-row">
                                                <div style="display: table-cell"></div>
                                                <div class="mapPopupRecordCell" style="text-align: right" ng-style="mapPopCtrl.getBorder($first)"
                                                     ng-repeat="rec in result.records">
                                                    <span class="pull-left">
                                                        <span class="btn btn-default fa-stack toggleButton"
                                                              style="vertical-align:top;"
                                                              ng-click="mapPopCtrl.removeRecord(result, $index)">
                                                            <i class="fa fa-fw fa-remove fa-stack-1x text-danger"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div style="display: table-row" ng-style="mapPopCtrl.getRowColor($even)"
                                                 ng-repeat="(key, val) in result.records[0]">
                                                <div class="mapPopupColumnTitle">{{ key }}</div>
                                                <div class="mapPopupRecordCell" ng-style="mapPopCtrl.getBorder($first)"
                                                     ng-repeat="rec in result.records">{{ rec[key] }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
