.airCard
    .airCardHeader
        text-align center
        padding 1px 4px 0 4px
        >span
            vertical-align top
    .airCardBody
        max-height 500px
        overflow-y auto
        table
            background-color white
            color black
            margin 2px 0
            th
                text-align center
            th, td
                padding 2px 4px
                border 1px solid #CCC
            th, td.labelCell
                font-weight bold
            &.primaryContent
                th, td.labelCell
                    background-color #85D6FF
                td.valueCell
                    max-width 150px
            &.trackContent
                td
                    min-width 70px
                th, td.labelCell
                    background-color #DDD
        .positiveBool
            background-color #7ABA3A
        .accordion-toggle
            width 100%
            cursor pointer
        .panel-heading
            padding 2px 10px
            text-align center
        .panel-group
            margin-bottom 0
        .panel-body
            padding 3px
    .form-control.input-xxs
        height 22px
