.analysisCategoryLayerGroup
    max-height 300px
    overflow-y auto
    overflow-x hidden
    .categoryGrouping >.categoryCell
        &:nth-child(2)
            width 100%
        &:last-child
            text-align right
