.fa-df
    margin-right 8px

.df-button
    font-size 12px
    border none
    min-width 300px
    text-align left
    border-radius 4px
    color #000
    background-color #fff
    &:hover
        background-color #575757
        color white

.df-margin-specs
    margin-top 5px
    margin-bottom 5px

.df-class-sidebar
    background white
    .df-class-result
        border 1px dashed black
        @extends .df-margin-specs
        margin-left 2px
        &:hover
            activeGlow()
        .df-class-result-contents
            margin-left 5px

.df-datetimepicker
    margin-bottom 10px
    width 120px

.df-dropdown
    font-size 12px
    border none
    min-width 300px
    text-align left
    border-radius 4px

.df-inline-v-middle
    display inline
    vertical-align middle
    
.df-pointNum
    @extends .pointNumColorless
    background #575757
    margin-left 25px
    margin-right 10px
    margin-bottom 10px
    margin-top 20px

.df-wizard-content
    margin-right 20px
    margin-bottom 10px
    margin-left 58px
    vertical-align middle

.df-wizard-input-content
    margin-bottom 10px
    margin-left 80px

.df-wizard-sliding-win
    font-size 11px
    margin 0px 0px 0px 3px

.df-wizard-sliding-win-nospin
    @extends .df-wizard-sliding-win
    margin-left 21px

.df-wizard-inst
    font-size 14px
    font-style bold

.df-wizard-sm-text
    font-size 12px

.df-wizard-geom
    padding-top 4px

.df-wizard-geom-buttons
    padding 4px 7px 4px 7px

.df-wizard-image-info
    @extends .df-wizard-input-content
    position relative
    margin-top -18px

.df-wizard-imageid
    float left

.df-wizard-table-common
    border-collapse separate
    border-spacing 2px

.df-wizard-table
    @extends .df-wizard-table-common
    width 500px

.df-wizard-bounds-table
    @extends .df-margin-specs
    @extends .df-wizard-table-common
    text-align center

.df-wizard-draw-message
    @extends .df-margin-specs

.df-wizard-text-input
    @extends .df-margin-specs
    font-size 12px
    width 300px
    text-align left
    vertical-align middle

.df-wizard-geom-name
    @extends .df-margin-specs
    font-size 12px
    width 259px
    text-align left
    vertical-align middle

.df-wizard-bounds-title
    @extends .df-inline-v-middle
    text-align left

.df-wizard-bounds-buttons
    @extends .df-margin-specs
    @extends .df-inline-v-middle
    text-align center

.df-wizard-bounds-box
    max-width 90px

.df-width-percent
    width 100%

.df-width-nowrap
    @extends .df-width-percent
    white-space no-wrap

.df-wizard-error-message
    font-size 12px

.df-wizard-selector
    @extends .df-inline-v-middle

.df-sidebar-header
    background-color #ddd

.df-sidebar-header-no-icon
    @extends .df-sidebar-header
    padding-left 10px

.df-sidebar-group-list
    height 125px
    overflow-y scroll
    padding 5px 10px 5px 0px
    margin-bottom 5px

.df-sidebar-group-li
    list-style-type none

.df-sidebar-text-input
    width 250px
    margin-left 15px

.df-sidebar-search-bar
    padding: 5px 10px 0px 20px

.df-sidebar-entities
    padding: 5px 10px 5px 20px
