.fa-df
    margin-right 8px

.df-button
    font-size 12px
    border none
    min-width 300px
    text-align left
    border-radius 4px
    color #000
    background-color #fff
    &:hover
        background-color #575757
        color white

.df-margin-specs
    margin-top 5px
    margin-bottom 5px

.df-results-sidebar
    >*
        margin 5px
    >ul.list-unstyled
        margin-top 0
    .df-result-header
        background-color #333
        color #e4e4e4
        padding 8px
        margin-bottom 0
        >div
            padding 2px 0
            position relative
    .df-result
        background-color #333
        color #e4e4e4
        padding 8px
        border-top 3px solid #575757
        &:first-child
            border-top none
        &:hover
            background-color #575757
            color white
        .thumbnail-container
            overflow visible
            display inline-block
            height 128px
            width 128px
            vertical-align top
            position relative
            border-radius 4px
            >img
                border-radius 4px
                padding 1px
                border 1px solid #e4e4e4
                height 128px
                width 128px
                background url(/stealth/assets/no_image_128x128.png)
            >div
                position absolute
                top 12px
                left 10px
                cursor pointer
                >i
                    color black
                .thumbnail-menu-item
                    white-space nowrap
                    padding 2px
        .df-result-info-container
            display inline-block
            padding 5px
            width 320px
            .df-result-content
                height 88px
                overflow hidden
                >*
                    display inline-block
                    vertical-align top
                >div
                    width 190px
                    :first-child
                        margin-bottom 5px
            .df-result-footer
                padding 4px

.df-datetimepicker
    margin-bottom 6px
    width 120px
    border none !important
    line-height 24px !important

.df-dropdown
    font-size 12px
    border none
    min-width 300px
    text-align left
    border-radius 4px

.df-inline-v-middle
    display inline
    vertical-align middle
    
.df-pointNum
    @extends .pointNumColorless
    background #575757
    margin-left 25px
    margin-right 10px
    margin-bottom 10px
    margin-top 20px

.df-wizard-content
    margin-right 20px
    margin-bottom 0px
    margin-left 58px
    vertical-align middle

.form-group
    margin-top -5px
    margin-bottom -8px

.df-wizard-input-content
    margin-bottom 10px
    margin-left 80px

.df-wizard-sliding-win
    font-size 12px
    margin 5px 0px 0px 4px
    line-height 1.2
    font-weight 200

.df-wizard-sliding-win-nospin
    @extends .df-wizard-sliding-win
    margin-left 23px

.df-wizard-inst
    font-size 14px
    font-style bold

.df-wizard-sm-text
    font-size 12px

.df-wizard-text
    font-weight 200
    border none

.df-wizard-geom
    padding-top 12px
    margin-top -7px
    padding-bottom 15px

.df-wizard-geom-buttons
    padding 4px 7px 4px 7px
    font-size 12px

.df-wizard-image-info
    margin-bottom 2px
    margin-left 80px
    margin-top 6px

.df-wizard-control
    margin-top 0px
    margin-bottom 0px
    padding-top 10px
    font-size 12px
    position relative

.df-wizard-imageid
    float left

.df-wizard-table-common
    border-collapse separate
    border-spacing 2px

.df-wizard-table
    @extends .df-wizard-table-common
    width 500px

.df-wizard-bounds-table
    @extends .df-margin-specs
    @extends .df-wizard-table-common
    text-align center
    padding-left 82px

.df-wizard-draw-message
    @extends .df-margin-specs

.df-wizard-text-input
    @extends .df-margin-specs
    font-size 12px
    width 300px
    text-align left

.df-wizard-name-input
    @extends .df-margin-specs
    width 177px
    border none !important
    line-height 25px !important

input[type=checkbox]
    display none

input[type=checkbox]+ label:before
    font-family FontAwesome
    content "\f096"
    letter-spacing 8px
    font-size 14px

input[type=checkbox]:checked + label:before
    content "\f046"
    letter-spacing 6px
    font-size 14px

.df-wizard-checkbox
    padding-top 2px
    position relative
    display inline-block
    vertical-align middle

.df-wizard-geom-name
    @extends .df-margin-specs
    font-size 12px
    width 256px
    text-align left
    vertical-align

.df-wizard-bounds-title
    @extends .df-inline-v-middle
    text-align left

.df-wizard-bounds-buttons
    @extends .df-margin-specs
    @extends .df-inline-v-middle
    text-align center

.df-wizard-bounds-box
    max-width 90px

.df-width-percent
    width 100%

.df-width-nowrap
    @extends .df-width-percent
    white-space no-wrap

.df-wizard-selector
    @extends .df-inline-v-middle

.df-sidebar-group-list
    height 125px
    overflow-y scroll
    padding 5px 10px 5px 0px
    margin-bottom 5px
    background-color #333
    color #e4e4e4

.df-sidebar-group-li
    list-style-type none

.df-sidebar-text-input
    width 250px
    margin-left 15px

.df-popup
    background-color #333
    padding 5px 10px 10px 10px

.df-popup-title
    background-color #333
    color white

.df-popup-graph
    background-color #333
    height 200px
    width 300px
    margin-top 5px

.df-search-again-width
    width 100%
    margin-bottom 0px

.df-search-again-table
    padding 0px 5px 0px 5px
    font-size 10px

.df-search-again-title
    color #aaa
    text-transform uppercase
    font-size 10px
    font-style bold
    margin-left 5px
    padding 0px 5px 0px 5px
    width 30%

.df-search-again-existing
    color #999
    padding 0px 5px 0px 5px
    font-size 10px

.df-search-again-rowspace
    margin-bottom .5em
