.fa-df
    margin-right 8px

.df-button
    font-size 12px
    border none
    min-width 300px
    text-align left
    border-radius 4px
    color #ccc
    background-color #000000
    &:hover
        background-color #575757
        color white

.df-margin-specs
    margin-top 5px
    margin-bottom 5px

.df-class-sidebar
    background white
    .df-class-result
        border 1px dashed black
        @extends .df-margin-specs

.df-datetimepicker
    margin-bottom 10px
    width 120px

.df-dropdown
    font-color white
    font-size 12px
    border none
    min-width 300px
    text-align left
    border-radius 4px
    color #ffffff
    background-color #0000000
    &:active
        background-color #575757
        color white
    &:focus
        background-color green
        color red

.df-inline-v-middle
    display inline
    vertical-align middle

.df-wizard-table-common
    border-collapse separate
    border-spacing 2px

.df-wizard-table
    @extends .df-wizard-table-common
    width 500px

.df-wizard-bounds-table
    @extends .df-margin-specs
    @extends .df-wizard-table-common
    text-align center

.df-wizard-draw-message
    @extends .df-margin-specs

.df-wizard-text-input
    @extends .df-margin-specs
    font-size 12px
    color #ccc
    width 270px
    text-align left
    vertical-align middle

.df-wizard-bounds-title
    @extends .df-inline-v-middle
    text-align left

.df-wizard-bounds-buttons
    @extends .df-margin-specs
    @extends .df-inline-v-middle
    text-align center

.df-wizard-bounds-box
    max-width 90px

.df-wizard-error-message
    font-size 12px

.df-wizard-selector
    @extends .df-inline-v-middle
