input.input-multi
    border 0
    background transparent
    color #fff
    box-shadow 0 0 8px rgba(250, 100, 2, 1)
    &:focus,:active
        border 0
        background transparent
        color #fff
        box-shadow 0 0 8px rgba(250, 100, 2, 1)

.stream-time-input-selection
    width 100%
    text-align center
    select.time-input
        color rgba(210, 210, 210, 1)
        background-color rgba(70, 70, 70, 1)

.multi-selections
    margin-top 10px
    button
        padding 0 5px
        border-radius 8px
        background-color rgba(250, 100, 2, 0.5)
        box-shadow 0 0 8px rgba(255,255,255,0.3)
        color #fff
        margin-right 10px
        margin-bottom 10px
        transition box-shadow 1s linear
        &:hover
            color #fff
            box-shadow 0 0 8px rgba(255,255,255,1)
            transition box-shadow 1s linear