.headerContainer
    z-index 500

.header
    height 40px
    background-color rgba(44, 44, 44, 0.75)
    border-bottom-left-radius 5px
    padding-right 5px

.header:before
    content ''
    display inline-block
    height 100%
    vertical-align middle

.headerElement
    vertical-align middle
    display inline-block
    color #e4e4e4
    max-height 40px

.headerButton.btn
    padding 5px

.headerTitle
    font-size 1.5em
    font-weight bold

.headerSeparator
    background-color #e4e4e4
    height 75%
    width 1px
    margin 0 2px

.headerUserInfo
    font-size 0.75em

.popover-content
    font-size 2em
    color black
    box-shadow 0px 0px 6px 1px red
    border 1px solid #333
    border-radius 4px
