.histogramPopupContainer
    position absolute
    left 450px
    top 20px
    background white
    border-radius 3px
    border 2px solid #ddd
    width 500px
    height 450px

.histogramPopupHeader
    background-color #ddd
    width 496px
    &:hover
        cursor pointer

.histogramPopupToolbar
    margin-top 5px
    text-align center
    .cell
        margin-left 2px
        margin-right 2px
        padding-left 3px
        padding-right 3px
        padding-top 2px
        padding-bottom 2px
        select, input
            border 1px dotted #ccc
            border-radius 3px
            outline none
            padding 0
            background-color #ededed
            &:hover
              border-color #444
        input
            padding-left 3px
            padding-right 3px

.histogramPopupInfoBar
    margin-top 5px
    margin-left 2px
    margin-right 2px
    text-align center
    .cell
        border 1px dotted #ccc
        border-radius 3px
        margin-left 2px
        margin-right 2px
        padding-left 3px
        padding-right 3px
        padding-top 2px
        padding-bottom 2px
        background-color #ededed

.histogramViz
    width 99%
    height 73%
