.imagery-results-container
    .progress-striped
        margin-left 3px
        margin-right 3px
    .results-list
        clear both
        .imagery-result
            margin 2px 4px
            background-color white
            border 2px solid #ddd
            border-radius 4px
            &:hover
                border 2px solid #BBBBBB
            label
                margin-bottom 2px
            h4
                font-size 18px
            .imagery-zoom
                margin-top 4px
            img
                margin 1px
                border 1px solid gray
                padding 1px
                float right
        .imagery-empty-results
            background white
            padding 10px
            margin 3px
    progressbar
        margin 6px
    .image-controls
        clear right

.imOpts
    table
        border-collapse separate
        border-spacing 3px
        .option-label
            white-space nowrap
            &.rhs
                padding-left 4px
        textarea
            resize none