.mapPopupContainer
    background white
    border-radius 3px
    border 2px solid #ddd
    overflow hidden

.mapPopupTableContainer
    overflow scroll
    height 100%
    width 100%

.mapPopupRecord
    display table
    border 1px solid #ddd

.mapPopupRecordHeader
    display table-caption
    border 1px solid #ddd
    text-align center
    font-weight bold

.mapPopupRecordCell
    display table-cell
    text-align left
    padding 0 5px
    word-wrap break-word

.mapPopupColumnTitle
    display table-cell
    text-align right
    padding 0 5px
    font-weight bold
