.mapPopupInvisible
    visibility hidden

.mapPopupContainer
    background white
    border-radius 3px
    border 2px solid #ddd
    overflow hidden

.searchResultTableHeader
    overflow-x hidden
    width 100%
    white-space nowrap

.searchResultTableHeaderResult
    display inline-block
    white-space normal
    border-right 1px solid #ddd
    border-left 1px solid #ddd
    border-top 1px solid #ddd

.searchResultTableHeaderCaption
    width 100%
    text-align center

.searchResultTableHeaderRow
    display inline-block
    border-top 1px solid #ddd
    white-space nowrap
    width 100%

.searchResultTablePager
    .btn
        padding 0
        line-height 1.2

.searchResultTableBody
    height 100%
    width 100%
    overflow scroll
    white-space nowrap

.searchResultTableBodyResult
    display inline-block
    vertical-align top
    border-right 1px solid #ddd
    border-left 1px solid #ddd
    border-bottom 1px solid #ddd
    overflow hidden

.searchResultTableRowKey
    text-align right
    vertical-align top
    padding 0 5px
    font-weight bold
    display inline-block
    white-space normal
    word-wrap break-word

.searchResultTableRowCell
    padding 0 5px
    display inline-block
    white-space normal
    word-wrap break-word
    vertical-align top

.searchResultTableRowAlt
    background-color #f1f1f1

.searchResultTableBorderRight
    border-right 1px solid #ddd
