div.categoryGrouping
    padding 1px
    white-space nowrap
    margin 1px
    border-radius 3px
    border 1px dotted #ccc
    &:hover
        border-color #444

div.categoryIndent
    padding-left 16px

div.categoryCell
    display table-cell
    padding-right 4px
    height 100%
    white-space nowrap
    vertical-align middle

div.legendIconContainer
    height 16px
    width 16px
    overflow hidden
    display inline-block

span.catGroupButton
    padding 0
    line-height 1
    &:first-of-type
        margin-left 8px

.errorIconWrapper
    width 16px
    height 16px
    display inline-block
    .tooltip.right .tooltip-arrow
        border-right-color #a94442
    .tooltip-inner
        background-color #a94442
