.layerStyleSlider
    width: 70%
    display inline-block

.layerStyleLabel
    vertical-align super

.dragHandle
    float right
    width 20px
    cursor ns-resize
    text-align center
    border 1px solid #ccc
    border-radius 4px
    line-height 18px
    max-height 20px
    &:hover
        background-color black
        color white
