// Main stylus file.
@import '../../vendor/bower/bootstrap/dist/css/bootstrap.min.css'
@import '../../vendor/bower/font-awesome/css/font-awesome.min.css'
@import '../../vendor/bower/angular-bootstrap-colorpicker/css/colorpicker.css'
@import '../../vendor/bower/AngularJS-Toaster/toaster.css'
@import '../../vendor/bower/sonic.js/css/sonic-js.css'
@import '../../vendor/bower/animate.css/animate.min.css'
@import '../../vendor/ol3/ol.css'
// http://visionmedia.github.io/nib/
@import 'nib'
// applicaton files imports
@import 'mixins'
@import 'vars'
@import 'classification'
@import 'sidebar'
@import 'ol3'

@font-face
    font-family 'Glyphicons Halflings'
    src url('../assets/glyphicons-halflings-regular.eot')
    src url('../assets/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphics-halflings-regular.svg') format('svg');
    font-weight normal
    font-style normal

body
    overflow hidden

.primaryDisplay
    left sidebarWidth
    background-color #101010

.glass
    background-color rgba(200,200,200,0.2)
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
