@import 'nib'
@import 'mixins'
@import 'vars'

.ol-control
    background-color rgba(0, 0, 0, 0)

.ol-mouse-position
    left auto
    top auto
    bottom 2px
    right 2px
    color #eee
    border-radius 4px

.ol-scale-line
    left auto
    bottom auto
    right 2px
    top 43px

.ol-zoom
    top 66px
    right 2px
    left auto

.ol-rotate
    right 2px
    top 120px

.ol-mouse-position
.ol-scale-line
button.ol-zoom-in
button.ol-zoom-out
button.ol-rotate-reset
    background-color rgba(44, 44, 44, 0.75)

.mapSpinner
    position absolute
    left 50%
    top 50%
    z-index 900

.ol3ManagerViewSwitcher
    >.btn
        padding 0 4px !important
