.routeanalysisPopupContainer
    position absolute
    left 450px
    top 50px
    background white
    border-radius 3px
    border 2px solid #ddd
    width 500px
    height 450px

.routeanalysisPopupHeader
    background-color #ddd

.routeanalysisViz
    width 99%
    height 95%