.tpInfo
    background-color #f0f0f0
    margin 2px 4px
    border-radius 3px
    padding 1px 2px
    label
        margin-bottom 2px

.tpResult
    margin 2px 4px
    background-color white
    border 2px solid #ddd
    border-radius 4px
    &:hover
        border 2px solid #bbb
    label
        margin-bottom 2px

.tpDataBox
    margin 2px 5px
    padding 4px
    border 1px dotted #ccc
    border-radius 4px
    &.secondaryTpDataBox
        color #666
    &:hover
        border 1px dotted #444
        color #000 !important

.tpPointsPanel
    top 26px
    min-width 275px
    
.tpPointsPanelDistSpeed
    border  1px solid #ccc
    background-color #ddd
    border-radius 4px
    margin 4px
    padding 0 2px

.tpInterpolErrorMsg
    margin 0
    padding 5px

.tpTrackPointsList
    overflow-y auto
    top 90px

.tpRoutePointsList
    overflow-y auto
    top 30px

.tpPointBox
    border 1px solid #ccc
    background-color white
    border-radius 4px
    margin 2px
    white-space nowrap

.tpCoords
    margin 2px

.tpNoWrap
    white-space nowrap

.tpInlineBlock
    display inline-block

.tpBlock
    display block

.tpOverflowHidden
    overflow hidden

.tpOverflowAuto
    overflow auto

.tpSpinner
    width 60px

.tpDatePicker
    width 120px

.tpText
    width 250px

.tpSpacer
    margin-top 20px
    margin-bottom 10px

.tpRadioTxt
    margin-bottom 10px
    padding-left 20px
    max-width 430px
    font-style italic

.tpSourceInstructions
    max-width 430px
    
.tpResultProgBar
    margin 6px
    
.tpResultErrorBox
    margin 6px
    padding 4px
    border-radius 4px
    
.tpResultProxLabel
    margin-left 10px

.tpTrackPointItem
    margin-left 25px
    
.tpResultSortBox
    background-color #f0f0f0
    margin 2px 4px
    border-radius 3px
    padding 1px 2px
    
.tpResultNoResults
    @extends .tpResultSortBox
    text-align center

.tpResultLayerColor
    height 16px
    width 16px
    border 1px solid #d3d3d3
    border-radius 2px
    display inline-block
    margin 0 5px

.tpResultKey
    height 16px 
    max-width 200px 
    display inline-block 
    overflow hidden 
    text-overflow ellipsis

.tpRankBarBox
    height 18px
    width 200px
    margin-top 2px
    margin-right 2px
    background-color #EEE

.tpRankBar
    height 100%
    border none
    width 0px

.tpCombinedResult
    padding-right 10px
    color black

.tpFieldLabel
    margin-right 4px