.timeLapseControlsPanel
    z-index 501
    bottom 25px
    right 5px
    width 70%
    padding 5px 5px 5px 5px
    border-radius 3px

.timeLapseControlRow
    width 100%
    label
        color black
        outlineTextWhite()
        display inline
        .displayField
            padding-left 0px
            padding-right 0px
        .displayShadow
            padding-left 5px
            padding-right 5px
            padding-top 2px
            padding-bottom 2px
            border-radius 3px
        .col0
            text-align right
            padding-right 5px
        .col1
            text-align right
        button
            outlineTextWhite()
            text-align left
            border none
            border-radius 3px
            background-color rgba(0,0,0,0)
        select
            border none
            border-radius 3px
            background-color #aeb5cc
            color black
            outlineTextWhite()
        input[type=number]
            padding-left 4px
            width 4%
            border none
            border-radius 3px
            color black
            outlineTextWhite()

