.upload-error
    padding 2px
    font-style italic

.upload-message
    padding 3px
    margin-bottom 10px
    border 1px solid darkgreen
    color darkgreen
    background-color lightgreen

.upload-form
    text-align center
    padding 10px

.upload-table-header
    padding-bottom 10px

.upload-wide-input
    width 100%

.upload-fileupload
    padding-bottom 5px

#upload-wiz-progress
    background red
    margin 5px

.upload-progress
    height 18px
    background green

.upload-type-wrapper
     max-height 400px
     overflow auto
     padding-right 20px

.upload-attr-label
    text-align center