<ng-form name="staticOptionsForm">
    <label>Additional filter:</label>
    <input type="text" placeholder="CQL filter" ng-model="query.params.cql" style="width:399px">
    <div ng-switch="query.featureTypeData"
         style="color:black;background:#eee;border 1px solid #aaa;border-radius:4px;padding:0;margin-left:12px;margin-right:12px;margin-top:10px">
        <div ng-switch-when="pending">
            <i class="fa fa-spinner fa-spin fa-lg" style="padding-left:5px;padding-right:5px"></i>
            Fetching feature type description.
        </div>
        <div ng-switch-when="unavailable" class="alert alert-warning">
            <i class="fa fa-warning"></i> There is no feature type description for this layer.
        </div>
        <div ng-switch-default>
            <section ng-class="{'ng-hide': query.featureTypeData === 'unavailable'}"
                     ng-repeat="featureType in query.featureTypeData.featureTypes">
                <div style="background:#aaa;border-top-left-radius:4px;border-top-right-radius:4px;padding:0 4px;">
                    Properties for <strong>{{ layer.Title }}</strong>
                </div>
                <div style="max-height:250px;overflow:auto;padding:0 10px;">
                    <table class="table-condensed">
                        <tr ng-repeat="property in featureType.properties">
                            <td>{{ property.name }}</td>
                            <td><code>{{ property.localType }}</code></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <hr>
    <img ng-src="{{getIconImgSrc(layer)}}" ng-if="layer.queryable && query.params.markerStyle === 'point'"/>
    <div ng-if="query.params.markerStyle === 'heatmap'" class="heatmap" style="vertical-align:middle;"></div>
    <label>Style:</label>
    <select class="form-control input-sm"
            style="width:92px;display:inline"
            ng-model="query.params.markerStyle"
            ng-options="style for style in markerStyles"></select>

    <span ng-if="query.params.markerStyle === 'point'">
        <label>Marker:</label>
        <select class="form-control input-sm"
                style="width:92px;display:inline"
                ng-model="query.params.markerShape"
                ng-options="shape for shape in markerShapes"></select>

        <label>Size:</label>
        <input type="number" ui-jq="spinner"
               class="form-control input-sm"
               style="height:21px"
               ng-model="query.params.size"
               min="1" max="100">

        <label>Color:</label>
        <span class="colorpickerBtn" ng-style="style"
              style="margin-left:2px"
              colorpicker colorpicker-position="bottom"
              ng-model="style['background-color']"
              ng-change="query.params.fillColor = style['background-color']"></span>
    </span>
    <span ng-if="query.params.markerStyle === 'attribute'">
        <label>Attribute:</label>
        <select class="form-control input-sm"
                style="width:92px;display:inline"
                ng-model="query.params.hashAttr"
                ng-options="property.name for property in query.featureTypeData.featureTypes[0].properties | filter:{'type':'xsd:string'}:true | orderBy:'name'"></select>

        <label>Marker:</label>
        <select class="form-control input-sm"
                style="width:92px;display:inline"
                ng-model="query.params.markerShape"
                ng-options="shape for shape in markerShapes"></select>

        <label>Size:</label>
        <input type="number" ui-jq="spinner"
               class="form-control input-sm"
               style="height:21px"
               ng-model="query.params.size"
               min="1" max="100">

    </span>
    <span ng-if="query.params.markerStyle === 'heatmap'">
        <label>Pixels/radius:</label>
        <select class="form-control input-sm"
                style="width:60px;display:inline;"
                ng-options="n for n in 10 | lodash:'range':101:10"
                ng-model="query.params.radiusPixels">
        </select>
        <label>Color Ramp:</label>
        <select class="form-control input-sm"
                style="width:92px;display:inline"
                ng-model="query.params.colorRamp"
                ng-options="ramp for ramp in colorRamps"></select>
    </span>
    <p style="margin-top:20px;">
        Give this Data Layer a meaningful name.<br>
    </p>
    <label>Name: </label>
    <input type="text" placeholder="Layer name" ng-model="query.params.title" style="width:300px;" required>
</ng-form>
