<div style="max-height:250px;overflow:auto;">
    <div ng-if="workspaces | lodash:'isEmpty'" class="categoryGrouping">
        <i>None</i>
    </div>
    <div ng-repeat="(workspace, layers) in workspaces" class="categoryGrouping">
        <div class="categoryCell"><b>{{workspace}}</b></div>
        <div ng-repeat="layer in layers" class="categoryGrouping">
            <div class="categoryCell">
                <div class="legendIconContainer">
                    <img ng-src="{{layer.serverUrl || CONFIG.geoserver.defaultUrl + '/wms'}}?REQUEST=GetLegendGraphic&FORMAT=image/png&WIDTH=16&HEIGHT=16&LAYER={{layer.Name}}"
                         ng-if="layer.queryable"/>
                </div>
            </div>
            <div class="categoryCell">
                <span ng-if="!layer.viewState.isOnMap && !layer.viewState.isLoading"
                      class="btn btn-default fa-stack toggleButton"
                      ng-click="toggleLayer(layer, workspace)"
                      tooltip-html-unsafe="<span style='white-space:nowrap'>Add to map</span>"
                      tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
                      tooltip-trigger="mouseenter">
                </span>
                <span ng-if="layer.viewState.isOnMap && layer.viewState.isLoading"
                      style="padding-left:6px;padding-right:6px"
                      tooltip-html-unsafe="<span style='white-space:nowrap'>{{layer.viewState.numLoaded}}/{{layer.viewState.numTiles}} loaded</span>"
                      tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
                      tooltip-trigger="mouseenter">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <span ng-if="layer.viewState.isOnMap && !layer.viewState.isLoading"
                      class="btn btn-default fa-stack toggleButton"
                      ng-click="toggleLayer(layer, workspace)"
                      tooltip-html-unsafe="<span style='white-space:nowrap'>Remove from map</span>"
                      tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
                      tooltip-trigger="mouseenter">
                    <i class="fa fa-fw fa-check fa-stack-1x"></i>
                </span>
            </div>
            <div class="categoryCell">
                <span ng-if="layer.viewState.isOnMap"
                      class="btn btn-default fa-stack toggleButton"
                      ng-click="toggleVisibility(layer)"
                      tooltip-html-unsafe="<span style='white-space:nowrap'>Toggle visibility</span>"
                      tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
                      tooltip-trigger="mouseenter">
                    <i class="fa fa-fw fa-eye fa-stack-1x text-danger"
                       ng-if="!layer.viewState.toggledOn"></i>
                    <i class="fa fa-fw fa-eye fa-stack-1x text-success"
                       ng-if="layer.viewState.toggledOn"></i>
                </span>
            </div>
            <div class="categoryCell">
                {{::layer.Title | characters:35:true}}
            </div>
        </div>
    </div>
</div>
