<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <listener>
        <listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CorsProxy</servlet-name>
        <servlet-class>com.ccri.stealth.servlet.CorsProxyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>idleTimeout</param-name>
            <param-value>600000</param-value>
        </init-param>
        <init-param>
            <param-name>timeout</param-name>
            <param-value>1200000</param-value>
        </init-param>
        <init-param>
            <param-name>connectTimeout</param-name>
            <param-value>600000</param-value>
        </init-param>
        <init-param>
            <param-name>proxy</param-name>
            <param-value>${web.proxy}</param-value>
        </init-param>
        <init-param>
            <param-name>keyStorePath</param-name>
            <param-value>${keystore.path}</param-value>
        </init-param>
        <init-param>
            <param-name>keyStorePassword</param-name>
            <param-value>${keystore.password}</param-value>
        </init-param>
        <init-param>
            <param-name>trustStorePath</param-name>
            <param-value>${truststore.path}</param-value>
        </init-param>
        <init-param>
            <param-name>trustStorePassword</param-name>
            <param-value>${truststore.password}</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CorsProxy</servlet-name>
        <url-pattern>/cors/*</url-pattern>
    </servlet-mapping>
</web-app>
