<div class="analysisCategoryLayerGroup">
    <div ng-repeat="layer in layers" class="categoryGrouping">
        <div class="categoryCell">
            <st-toggle-visibility visible="layer.viewState.toggledOn"
                                  toggle="toggleVisibility({layer: layer})">
            </st-toggle-visibility>
        </div>
        <div class="categoryCell">
            {{::layer.name | characters:35:true}}
        </div>
        <div class="categoryCell">
            <span class="btn btn-default fa-stack toggleButton"
                  ng-click="removeLayer({layer: layer})">
                <i class="fa fa-fw fa-close fa-stack-1x text-danger"></i>
            </span>
        </div>
    </div>
</div>