<div class="layerStyleHistoricalLayer layerStyleGrouping">
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.dragHandle'"></ui-include>
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.layerStyleRow.visibilityName'"></ui-include>
    <!-- TODO: Possibly move some of these components out to layer fragments to be used elsewhere. -->
    <div style="overflow-x:hidden;">
        <ul ui-sortable="sortableOptions" ng-model="stores"
            style="overflow-x:hidden;list-style:none outside none;padding:0;">
            <li ng-repeat="store in stores">
                <div class="layerStyleGrouping"
                     ng-if="store.getViewState().isDataReady()">
                    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.dragHandle'"></ui-include>
                    <div class="layerStyleRow">
                        <div class="cell">
                            <i class="fa fa-fw fa-clock-o"
                               ng-style="{'color': store.getFillColorHexString()}">
                            </i>
                        </div>
                        <div class="cell">
                            <st-toggle-visibility ng-if="store.getViewState().isDataReady()"
                                                  visible="store.getViewState().toggledOn"
                                                  toggle="store.toggleVisibility()"></st-toggle-visibility>
                        </div>
                        <div class="cell">{{::store.getName()}}</div>
                        <div class="cell" style="width:100%;text-align:right">
                            <span class="btn btn-default fa-stack toggleButton"
                                  ng-click="layer.removeStore(store)">
                                <i class="fa fa-fw fa-remove fa-stack-1x text-danger"></i>
                            </span>
                        </div>
                    </div>
                    <div class="layerStyleRow">
                        <div class="cell">Opacity:</div>
                        <div class="cell" style="width:100%">
                            <input type="range" ng-model="store.getViewState().opacity"
                                   min="0" max="100" step="1"
                                   ng-change="store.setOpacity(store.getViewState().opacity)"
                                   st-float-input>
                        </div>
                        <div class="cell">{{store.getViewState().opacity}}%</div>
                    </div>
                    <div class="layerStyleRow">
                        <div class="cell">Size:</div>
                        <div class="cell">
                            <input type="number" ui-jq="spinner"
                                   ng-model="store.getViewState().size"
                                   ng-change="sizeChanged(store, store.getViewState().size)"
                                   min="1" max="100">
                        </div>
                        <div class="cell" style="padding-left:5px">Fill:</div>
                        <div class="cell">
                            <span class="btn btn-default toggleButton"
                                 ng-style="{'background-color': store.getFillColorHexString()}"
                                 colorpicker colorpicker-position="bottom"
                                 ng-model="store.getViewState().fillColor"
                                 ng-change="store.setFillColorHexString(store.getViewState().fillColor)"
                                 tooltip-html-unsafe="<span style='white-space:nowrap'>Change fill color</span>"
                                 tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
                                 tooltip-trigger="mouseenter">
                            </span>
                        </div>
                        <div class="cell" style="padding-left:5px">Color by:</div>
                        <div class="cell">
                            <!-- TODO: Should be list of available colorBy options -->
                            <select style="outline:none">
                                <option value="ID field">ID field</option>
                            </select>
                        </div>
                        <div class="cell">
                            <stealth.core.utils.checkbox
                                checked="store.getViewState().colorById"
                                toggle="store.toggleColorById()"
                                tooltip-text="<span style='white-space:nowrap'>Toggle color by</span>"
                                tooltip-placement="top">
                            </stealth.core.utils.checkbox>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

