<div class="df-results-sidebar anchorAll">
    <div class="df-result-header" ng-class="{'ng-hide': !(request.classifier)}">
        <table class="df-search-again-width">
            <tr>
                <td class="df-search-again-title">
                    Classifier:
                </td>
                <td class="df-search-again-table">
                    <span class="fa fa-fw" ng-class="space[request.classifier.space].icon"></span>{{request.classifier.name}}
                </td>
                <td>
                    <button class="btn btn-primary btn-xs pull-right" ng-click="runAnotherQuery(request)">
                        Run Another <span class="fa fa-fw fa-df {{::dfIcon}}" />
                    </button>
                </td>
            </tr>
            <tr>
                <td class="df-search-again-title">
                    <div class="df-search-again-rowspace">
                        Search Area:
                    </div>
                </td>
                <td class="df-search-again-table df-search-again-rowspace">
                    <div class="df-search-again-rowspace">
                        {{lastSearch.title}}
                    </div>
                </td>
                <td/>
            </tr>
            <tr ng-class="{'ng-hide': !(lastSearch.startDtg)}">
                <td class="df-search-again-title">
                    Start Date:
                </td>
                <td class="df-search-again-table">
                    {{lastSearch.startDtg}}
                </td>
                <td/>
            </tr>
            <tr ng-class="{'ng-hide': !(lastSearch.endDtg)}">
                <td class="df-search-again-title">
                    <div class="df-search-again-rowspace">
                        End Date:
                    </div>
                </td>
                <td class="df-search-again-table">
                    <div class="df-search-again-rowspace">
                        {{lastSearch.endDtg}}
                    </div>
                </td>
                <td/>
            </tr>
            <tr ng-class="{'ng-hide': !(lastSearch.imageDtg)}">
                <td class="df-search-again-title">
                    <div class="df-search-again-rowspace">
                        Image Date:
                    </div>
                </td>
                <td class="df-search-again-table">
                    <div class="df-search-again-rowspace">
                        {{lastSearch.imageDtg}}
                    </div>
                </td>
                <td/>
            </tr>
            <tr ng-class="{'ng-hide': !request.searchExisting}">
                <td class="df-search-again-existing" colspan="3">
                    Searched on existing entities only
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <progressbar class="progress-striped active" value="100" type="primary" ng-if="queryRunning">
        Evaluating
    </progressbar>
    <div class="bg-danger" ng-class="{'ng-hide': queryRunning || results.length}">
        <i class="fa fa-fw fa-lg fa-exclamation-triangle text-danger"></i> Query returned no results</li>
    </div>
    <div class="df-result-header"
         ng-class="{'ng-hide': !(request.classifier && results.length)}">
        <div>Score Threshold: <b>{{entityLayer.viewState.scoreCutoff.toFixed(2)}}</b></div>
        <div class="df-width-percent">
            <input type="range" ng-model="entityLayer.viewState.scoreCutoff"
                   min="0.5" max="1" step="0.01"
                   st-change="updateMap()"
                   st-change-delay="30"
                   st-float-input>
        </div>
        <hr>
    </div>
    <ul class="list-unstyled">
        <li class="df-result"
            ng-repeat="result in results | orderBy:entitySort:true | startFrom:(paging.currentPage-1)*paging.pageSize | limitTo:paging.pageSize"
            ng-mouseenter="entityHighlighter.addFeature(result)"
            ng-mouseleave="entityHighlighter.removeFeature(result)">
            <div class="thumbnail-container">
                <img ng-src="{{composeThumbnailUrl(result)}}">
                <div ng-mouseenter="result.showThumbnailMenu=true"
                     ng-mouseleave="result.showThumbnailMenu=false">
                    <i class="fa fa-lg fa-map outlineTextWhite"></i>
                    <ul class="list-unstyled" ng-if="result.showThumbnailMenu">
                        <li class="df-result thumbnail-menu-item" ng-click="zoomTo(result)">Zoom to entity</li>
                        <li class="df-result thumbnail-menu-item" ng-class="{'ng-hide': !scoredEntityService.hasThumbnail(result)}">Show image on map</li>
                        <li class="df-result thumbnail-menu-item" ng-class="{'ng-hide': !scoredEntityService.hasThumbnail(result)}">Bring image to front</li>
                    </ul>
                </div>
            </div>
            <div class="df-result-info-container">
                <div class="df-result-content">
                    <strong><i class="fa fa-lg ccri-icon ccri-icon-map-pin"></i></strong>
                    <div>
                        <div><strong>{{::scoredEntityService.name(result)}}</strong></div>
                        <div ng-if="::scoredEntityService.time(result)">
                            Time: {{::scoredEntityService.time(result)}}
                        </div>
                        <div>{{::scoredEntityService.description(result)}}</div>
                    </div>
                </div>
                <div class="df-result-footer">
                    <button class="btn btn-primary btn-xs" ng-click="searchSimilar(result)">
                        More Like This
                    </button>
                    <span class="pull-right">
                        Score: <b>{{::floorFigure(scoredEntityService.score(result), 3)}}</b>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>
