<div ng-controller="LayersLegendControlController">
    <form class="leaflet-control-layers-list">
        <div class="leaflet-control-layers-overlays">
           <div class="layers-legend-control-form-group form-group" ng-repeat="layer in layers.slice().reverse()">
                <span>
                    <div>
                        <input type="checkbox"
                                class="layers-legend-control-button"
                                ng-model="layer.style.isSelected">
                         <span class="layers-legend-control-colorpicker"
                            ng-style="layer.style"
                            colorpicker colorpicker-position="top"
                            ng-model="layer.style['background-color']"
                            ng-change="updateDrawColor(layer)">
                        </span>
                        <span class="layers-legend-control-weight-input">{{layer.style.weight}}</span>
                        <div class="btn-group-vertical layers-legend-control-btn-group-vertical">
                            <button type="button" class="btn btn-default layers-legend-control-button layers-legend-control-button-weight" style="background-color:inherit;" ng-click="increaseWeight(layer)">
                                <i class="fa fa-sort-up"></i>
                            </button>
                            <button type="button" class="btn btn-default layers-legend-control-button layers-legend-control-button-weight" style="background-color:inherit;" ng-click="decreaseWeight(layer)">
                                <i class="fa fa-sort-down" style="margin-top:-7px;"></i>
                            </button>
                        </div>
                        <button type="button" ng-click="toggleTags(layer)"
                                 class="layers-legend-control-button"
                                 ng-style="layer.tagsStyle">
                            <i class="fa fa-tags"></i>
                        </button>
                        <span class="layers-legend-control-label">{{layer.label}}</span>
                        <button type="button" ng-click="destroyLayer(layer.id)"
                                 class="layers-legend-control-button pull-right">
                            <i class="fa fa-times" style="padding:3px 0px 0px 0px;"></i>
                        </button>
                    </div>
                </span>
            </div>
            <div class="layers-legend-control-separator leaflet-control-layers-separator" ng-show="showSeparator()"></div>
            <div ng-show="showPending()">
                <label class="layers-legend-item" ng-repeat="fail in failed">
                    <i class="fa fa-warning" style="color:red;"></i>
                    <span style="color:red;" tooltip="{{fail.status}}" tooltip-placement="top"
                           class="layers-legend-control-label"
                           ng-click="toggleShowError(fail.id)"> {{ fail.label }}
                    </span>
                    <button type="button" ng-click="removeFail(fail.id)"
                             class="layers-legend-control-button pull-right">
                        <i class="fa fa-times"></i>
                    </button>
                </label>
                <label class="layers-legend-item" ng-repeat="query in pending">
                    <i class="fa fa-circle-o-notch fa-spin"> </i>
                    <span> {{ query.label }}</span>
                </label>
            </div>
            <span>
                <button type="button" ng-click="openQueryForm()"
                         class="layers-legend-control-button"
                         tooltip="Add layer" tooltip-placement="right">
                    <i class="fa fa-plus fa-sm"></i>
                </button>
                <button type="button" ng-click="uploadFile()"
                         class="layers-legend-control-button"
                         tooltip="Load file" tooltip-placement="right">
                    <i class="fa fa-folder-open fa-sm"></i>
                </button>
                <div style="height:0px;width:0px;overflow:hidden">
                    <input id="upfile"
                            type="file"
                            value="upload"
                            onchange="angular.element(this).scope().fileSelected(this)">
                </div>
            </span>
        </div>
    </form>
</div>
