<div ng-class="{'ng-hide': !query.isGeomSource()}">
    <div class="df-wizard-bounds-buttons" ng-class="{'ng-hide': boundWiz.drawing}">
        <table class="df-wizard-bounds-table">
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="number" placeholder="Max Lat (deg)" ui-jq="spinner" class="df-wizard-bounds-box"
                           ng-change="query.checkAndSetBounds([query.geom.minLon, query.geom.minLat, query.geom.maxLon, query.geom.maxLat])"
                           ng-required="query.isGeomSource()"
                           min="-90" max="90" step="0.00001" ng-model="query.geom.maxLat">
                    </input>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" placeholder="Min Lon (deg)" ui-jq="spinner" class="df-wizard-bounds-box"
                           ng-change="query.checkAndSetBounds([query.geom.minLon, query.geom.minLat, query.geom.maxLon, query.geom.maxLat])"
                           ng-required="query.isGeomSource()"
                           min="-180" max="180" step="0.00001" ng-model="query.geom.minLon">
                    </input>
                </td>
                <td colspan="2">
                    <input type="number" placeholder="Max Lon (deg)" ui-jq="spinner" class="df-wizard-bounds-box"
                           ng-change="query.checkAndSetBounds([query.geom.minLon, query.geom.minLat, query.geom.maxLon, query.geom.maxLat])"
                           ng-required="query.isGeomSource()"
                           min="-180" max="180" step="0.00001" ng-model="query.geom.maxLon">
                    </input>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="number" placeholder="Min Lat (deg)" ui-jq="spinner" class="df-wizard-bounds-box"
                           ng-change="query.checkAndSetBounds([query.geom.minLon, query.geom.minLat, query.geom.maxLon, query.geom.maxLat])"
                           ng-required="query.isGeomSource()"
                           min="-90" max="90" step="0.00001" ng-model="query.geom.minLat">
                    </input>
                </td>
                <td></td>
            </tr>
        </table>
        <div class="btn btn-default btn-xs" ng-click="boundWiz.setWholeEarth()">Whole Earth</div>
        <div class="btn btn-default btn-xs" ng-click="boundWiz.setMapExtent()">Use Map Extent</div>
        <div class="btn btn-default btn-xs" ng-click="boundWiz.drawExtent()">Draw Bounds</div>
    </div>
</div>
<div class="df-wizard-draw-message" ng-class="{'ng-hide': !boundWiz.drawing}">
    Click and drag on the map to draw bounding box.
</div>
