<ng-form name="wizardForm">
    <table class="df-wizard-table" ng-class="{'ng-hide': boundWiz.drawing}">
        <tr>
            <!--SELECT A CLASSIFIER-->
            <td>
                <div class="btn-group dropdown dropdown-append-to-body df-button">
                    <button type="button" class="btn dropdown-toggle df-button">
                        <span class="df-dropdown" ng-if="!query.classifier">Select a Classifier</span>
                        <span class="df-dropdown" ng-if="query.classifier"><span class="fa fa-fw fa-df" ng-class="spaceIcon[query.classifier.space]"></span>{{query.classifier.name}}</span>
                        <span class="pull-right"><span class="caret"></span></span>
                    </button>
                    <ul class="dropdown-menu df-dropdown" role="menu" aria-labelledby="btn-append-to-body">
                        <li ng-repeat="classifier in ::classifiers | orderBy: 'name'"  role="menuitem">
                            <a href="#" ng-click="pickClassifier(classifier)"><i class="fa fa-fw fa-df" ng-class="spaceIcon[classifier.space]"></i>{{classifier.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <!--SELECT A LABEL (FOR THE CLASSIFIER)-->
            <td ng-class="{'ng-hide': query.hasSingleLabel()}">
                <div class="btn-group dropdown dropdown-append-to-body df-button">
                    <button type="button" class="btn dropdown-toggle df-button">
                        <span class="df-dropdown" ng-if="!query.classifierLabel">Select a Label</span>
                        <span class="df-dropdown" ng-if="query.classifierLabel"><i class="fa fa-fw fa-df" ng-class="spaceIcon[query.classifier.space]"></i>{{query.classifierLabel}}</span>
                        <span class="pull-right"><span class="caret"></span></span>
                    </button>
                    <ul class="dropdown-menu df-dropdown" role="menu" aria-labelledby="btn-append-to-body">
                        <li ng-repeat="label in query.classifier.labels | orderBy: 'name'"  role="menuitem">
                            <a href="#" ng-click="query.classifierLabel = label"><i class="fa fa-fw fa-df" ng-class="spaceIcon[query.classifier.space]"></i>{{label}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <table class="df-wizard-table" ng-class="{'ng-hide': boundWiz.drawing || query.isNonImageSpace()}">
        <tr ng-click="searchByImageId()">
            <td ng-class="{'has-error': imgMeta.errMsg}">
                <i class="fa fa-fw" ng-class="query.isImageIdSource() ? 'fa-dot-circle-o' : 'fa-circle-o'">
                </i>
            </td>
            <td>
                <input type="text"
                       placeholder="Enter Image ID"
                       ng-model="query.imageId"
                       st-change="lookupImgMeta()"
                       ng-disabled="query.isGeomSource()"
                       class="form-control input-sm df-wizard-text-input df-wizard-selector" />
                <span ng-class="{'ng-hide': !(imgMeta.isLoading)}"><i class="fa fa-circle-o-notch fa-spin"></i></span>
            </td>
        </tr>
        <tr ng-class="{'ng-hide': !(imgMeta.errMsg)}">
            <td />
            <td>
                <label class="control-label df-wizard-error-message"><i class="fa fa-warning"></i> {{imgMeta.errMsg}}</label>
            </td>
        </tr>
        <tr ng-class="{'ng-hide': query.isGeomSource()}">
            <td />
            <td>
                <table class="df-wizard-table-common">
                    <tr ng-class="{'ng-hide': !imgMeta.resolvedMetadata.dtg}">
                        <td>Date:</td>
                        <td>{{imgMeta.resolvedMetadata.dtg.toISOString()}}</td>
                    </tr>
                    <tr ng-class="{'ng-hide': !imgMeta.resolvedMetadata.type}">
                        <td>Type:</td>
                        <td>{{imgMeta.resolvedMetadata.type}}</td>
                    </tr>
                    <tr ng-class="{'ng-hide': !imgMeta.resolvedMetadata.hasNIIRS()}">
                        <td>NIIRS:</td>
                        <td>{{imgMeta.resolvedMetadata.niirs}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="df-wizard-table">
        <tr>
            <td ng-class="{'ng-hide': boundWiz.drawing}" ng-click="searchByGeoTime()">
                <i class="fa fa-fw" ng-class="query.isGeomSource() ? 'fa-dot-circle-o' : 'fa-circle-o'">
                </i>
                <label ng-class="{'ng-hide': query.isGeomSource()}" class="df-wizard-bounds">
                    Bounding Box
                </label>
            </td>
            <td>
                <st-widget-compiler widget-def="drawBoundsWidgetDef">
                </st-widget-compiler>
            </td>
        </tr>
        <tr ng-class="{'ng-hide': !query.isGeomSource()}">
            <td />
            <td ng-class="{'ng-hide': boundWiz.drawing}" colspan="2">
                <!-- Only an input when not using an image id. Otherwise the time is the time of the image -->
                <table class="df-wizard-table-common">
                    <tr><label>Enter time range:</label></tr>
                    <tr>
                        <td><label>Start: </label></td>
                        <td><input type="text" ng-model="query.timeData.startDtg" ui-jq="datetimepicker"
                                   ng-change="query.checkTimeRangeAndSetCookie(query.timeData.startDtg, query.timeData.endDtg)"
                                   ng-disabled="query.isImageIdSource()"
                                   ng-required="!query.isImageIdSource()"
                                   ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                                   st-utc-moment-format="YYYY-MM-DD HH:mm" class="df-datetimepicker" /> Z
                        </td>
                    </tr>
                    <tr>
                        <td><label>End: </label></td>
                        <td><input type="text" ng-model="query.timeData.endDtg" ui-jq="datetimepicker"
                                   ng-change="query.checkTimeRangeAndSetCookie(query.timeData.startDtg, query.timeData.endDtg)"
                                   ng-disabled="query.isImageIdSource()"
                                   ng-required="!query.isImageIdSource()"
                                   ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                                   st-utc-moment-format="YYYY-MM-DD HH:mm" class="df-datetimepicker" /> Z
                        </td>
                    </tr>
                </table>
                <!-- This input is a bit finicky. any value in query.timeData.valid will validate,
                     even if the value is a boolean false. make sure _not_ to set a valid flag until
                     the query.timeData is actually valid. do _not_ set valid to false. -->
                <input type="hidden" ng-model="query.timeData.valid" ng-required="!query.isImageIdSource()">
                <div class="alert alert-danger" ng-class="{'ng-hide': !query.timeData.errorMsg}">
                    <span class="fa fa-lg fa-fw fa-exclamation-triangle"></span>
                    <span>{{query.timeData.errorMsg}}</span>
                </div>
            </td>
        </tr>
    </table>
    <table class="df-wizard-table" ng-class="{'ng-hide': boundWiz.drawing || query.isNonImageSpace()}">
        <tr>
            <!-- Only visible for imagery classifiers. Defaults to false -->
            <td>
                <p></p>
                <label><input type="checkbox" ng-model="query.slidingWindow" /> Use sliding window</label>
            </td>
        </tr>
    </table>
    <input type="text" ng-model="query.classifier" class="hidden" required />
    <input type="text" ng-model="query.classifierLabel" class="hidden" required />
    <input type="text" ng-model="imgMeta.resolvedMetadata.dtg" class="hidden" ng-required="query.isImageIdSource()" />
</ng-form>
