<ng-form name="histogramOptionsForm">
    <p style="text-align:center">
        Building histogram of <b>{{::query.params.attribute.name}}</b> for <b>{{::query.params.fromName}}</b>
    </p>
    <label>Additional filter:</label>
    <input type="text" placeholder="CQL filter" ng-model="query.params.cql" style="width:399px">
    <div ng-switch="query.featureTypeData"
         style="color:black;background:#eee;border 1px solid #aaa;border-radius:4px;padding:0;margin-left:12px;margin-right:12px;margin-top:10px">
        <div ng-switch-when="pending">
            <i class="fa fa-spinner fa-spin fa-lg" style="padding-left:5px;padding-right:5px"></i>
            Fetching feature type description.
        </div>
        <div ng-switch-when="unavailable" class="alert alert-warning">
            <i class="fa fa-warning"></i> There is no feature type description for this layer.
        </div>
        <div ng-switch-default>
            <section ng-show="query.featureTypeData !== 'unavailable'"
                     ng-repeat="featureType in query.featureTypeData.featureTypes">
                <div style="background:#aaa;border-top-left-radius:4px;border-top-right-radius:4px;padding:0 4px;">
                    Properties for <strong>{{ layer.Title }}</strong>
                </div>
                <div style="max-height:250px;overflow:auto;padding:0 10px;">
                    <table class="table-condensed">
                        <tr ng-repeat="property in featureType.properties">
                            <td>{{ property.name }}</td>
                            <td><code>{{ property.localType }}</code></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <hr>
    <label>Color:</label>
    <span class="colorpickerBtn" ng-style="style"
          style="margin-left:2px"
          colorpicker colorpicker-position="bottom"
          ng-model="style['background-color']"
          ng-change="query.params.fillColor = style['background-color']"></span>
    <p style="margin-top:20px;">
        Give this histogram a meaningful name.<br>
    </p>
    <label>Name: </label>
    <input type="text" placeholder="Layer name" ng-model="query.params.title" style="width:300px;" required>
</ng-form>