<ng-form name="histogramTimeBoundsForm">
    <p>
        Enter time bounds:
    </p>
    <table style="border-collapse:separate;border-spacing:2px;">
        <tr>
            <td><label>Start: </label></td>
            <td>
                <input type="text" ng-model="query.params.startDtg" ui-jq="datetimepicker"
                       ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                       st-utc-moment-format="YYYY-MM-DD HH:mm" style="width:120px;" required> Z
            </td>
        </tr>
        <tr>
            <td><label>End: </label></td>
            <td>
                <input type="text" ng-model="query.params.endDtg" ui-jq="datetimepicker"
                       ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                       st-utc-moment-format="YYYY-MM-DD HH:mm" style="width:120px;" required> Z
            </td>
        </tr>
    </table>
    <p ng-show="query.origin === 'time-lapse'">
        Note: This time range is set to equal the <br>
        time-enabled layer's ({{::query.params.fromName}}) time window.<br>
        The histogram data will sync, upon refresh, to the <br>
        time-enabled layer's window when changed.
    </p>
</ng-form>