<ul class="nav nav-pills nav-justified">
    <li ng-class="{active: left==='sites'}" ng-click="left='sites'" class="btn btn-default">
        <div class="fa fa-map-marker fa-lg"></div> Sites <span class="badge">{{numSites}}</span>
    </li>
    <li ng-class="{active: left==='data'}" ng-click="left='data'" class="btn btn-default">
        <div class="fa fa-archive fa-lg"></div> Data <span class="badge">{{numData}}</span>
    </li>
    <li ng-class="{active: left==='targets'}" class="btn btn-default" ng-click="left='targets'">
        <div class="fa fa-crosshairs fa-lg"></div> Targets <span class="badge">{{numTargets}}</span>
    </li>
</ul>