<div ng-controller="SiteActivityController">
    <left-pane is-visible="isLeftPaneVisible">
        <sa-left-nav></sa-left-nav>
        <div ng-switch="left">
            <div class="anchorBottom anchorLeft anchorRight panel panel-primary" style="margin:5px;top:35px;" ng-switch-when="sites">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-lg"></i> Sites
                    <i class="pull-right fa fa-plus btn btn-default btn-sm" ng-click="addSites.showWindow()"></i>
                </div>
                <div class="anchorBottom anchorLeft anchorRight" style="top:40px;overflow-y:auto;">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="site in sites">
                                <td>{{site.properties.STATE_NAME}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="anchorBottom anchorLeft anchorRight" style="top:35px;" ng-switch-when="data">
                data
            </div>
            <div class="anchorBottom anchorLeft anchorRight" style="top:35px;" ng-switch-when="targets">
                targets
            </div>
        </div>
    </left-pane>
    <center-pane is-full-width="!isLeftPaneVisible">
        <center-top is-visible="isCenterTopVisible">
            <div>Analysis controls go here</div>
        </center-top>
        <center-right is-visible="isCenterRightVisible">
            <select ng-model="$parent.viz" ng-options="vizitem for vizitem in $parent.vizitems">
            </select>
            <tt>viz={{$parent.viz}}</tt>
        </center-right>
        <div ng-switch="viz">
            <leaflet-map id="map" mc="mc" map="map" ng-switch-when="map"></leaflet-map>
            <div class="anchorTop anchorBottom anchorLeft anchorRight blue" ng-switch-when="blue"></div>
            <div class="anchorTop anchorBottom anchorLeft anchorRight green" ng-switch-when="green"></div>
        </div>
    </center-pane>
</div>
