<div class="categoryGrouping">
    <div class="categoryCell"><b>Spatial Predictions</b></div>
    <div class="categoryCell">
        <span class="btn btn-default fa-stack toggleButton"
              ng-click="launchDcmWizard()"
              tooltip-html-unsafe="<span style='white-space:nowrap'>Run new spatial prediction</span>"
              tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
              tooltip-trigger="mouseenter">
            <i class="fa fa-fw fa-plus fa-stack-1x text-primary"></i>
        </span>
        <span class="btn btn-default fa-stack toggleButton"
              ng-click="launchThreatSurfaceWizard()"
              tooltip-html-unsafe="<span style='white-space:nowrap'>Load saved spatial prediction</span>"
              tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500"
              tooltip-trigger="mouseenter">
            <i class="fa fa-fw fa-folder-open fa-stack-1x text-primary"></i>
        </span>
    </div>
</div>
<div ng-repeat="layer in layers" class="layerGrouping categoryIndent">
    <div class="categoryCell" ng-if="layer.viewState.isLoading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="categoryCell">
        <st-toggle-visibility ng-if="layer.viewState.isOnMap"
                              visible="layer.viewState.toggledOn"
                              toggle="toggleVisibility(layer)"></st-toggle-visibility>
    </div>
    <div class="categoryCell">
        <span ng-show="!layer.editTitle" ng-dblclick="editTitle(layer)">{{layer.Title | characters:35:true}}</span>
        <input type="text" ng-model="layer.Title" pattern=".{1,}" ng-show="layer.editTitle" ng-blur="editTitle(layer)">
    </div>
    <div class="categoryCell" ng-if="!layer.viewState.isLoading">
            <span class="btn btn-default fa-stack toggleButton"
                  ng-click="layer.showMetadata = !layer.showMetadata"
                  tooltip-html-unsafe="<span style='white-space:nowrap'>Show Metadata</span>" tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500" tooltip-trigger="mouseenter"
                    >
                    <span ng-if="layer.showMetadata">
                        <i class="fa fa-fw fa-stack-1x fa-caret-up"></i>
                    </span>
                    <span ng-if="!layer.showMetadata">
                        <i class="fa fa-fw fa-stack-1x fa-caret-down"></i>
                    </span>
            </span>
    </div>
    <div class="categoryCell" ng-if="!layer.viewState.isLoading">
            <span class="btn btn-default fa-stack toggleButton ng-scope" ng-click="zoomToLayer(layer)" tooltip-html-unsafe="<span style='white-space:nowrap'>Zoom to Layer</span>" tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500" tooltip-trigger="mouseenter">
                <i class="fa fa-fw fa-search-plus fa-stack-1x"></i>
            </span>
    </div>
    <div class="categoryCell" ng-if="!layer.viewState.isLoading">
            <span class="btn btn-default fa-stack toggleButton ng-scope" ng-click="removeLayer(layer)" tooltip-html-unsafe="<span style='white-space:nowrap'>Remove Layer</span>" tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="500" tooltip-trigger="mouseenter">
                <i class="fa fa-fw fa-remove fa-stack-1x text-danger"></i>
            </span>
    </div>
    <div class="categoryGrouping" ng-if="layer.showMetadata">
        <ul>
            <li ng-if="layer.Abstract">Description:
                <span>{{layer.Abstract}}</span>
            </li>
            <li ng-if="layer.metadata.predictiveVectors.length > 0">Predictive Features used:
                <ul>
                    <li ng-repeat="predictiveVector in layer.metadata.predictiveVectors">{{predictiveVector}}</li>
                </ul>
            </li>
            <li ng-if="layer.metadata.predictiveRasters.length > 0">Predictive Rasters used:
                <ul>
                    <li ng-repeat="predictiveRaster in layer.metadata.predictiveRasters">{{predictiveRaster}}</li>
                </ul>
            </li>
            <li>Events:
                <span>{{layer.metadata.event}}</span>
            </li>
            <li>Date Created:
                <span>{{layer.metadata.date.format('llll')}}</span>
            </li>
        </ul>
    </div>
</div>