<div id="olWpsExample" ng-controller="WpsController">
    <left-pane is-visible="isLeftPaneVisible">
        <div class="anchorTop anchorBottom anchorLeft anchorRight" style="padding:8px;overflow-y:auto;">
            <input type="text" class="form-control" placeholder="Enter URL for geoserver/wps" ng-model="$parent.wpsUrl"/>
            <span class="btn btn-primary btn-block fa fa-refresh" ng-click="$parent.setWpsServer()"> Switch WPS server</span>
            <hr style="margin: 10px 0"/>
            <select id="processes" ng-model="$parent.process"></select>
            <p id="abstract"></p>
            <button id="addProcessButton" class="btn btn-primary btn-block fa fa-plus" ng-click="$parent.addProcess()"> Add Process</button>
            <hr style="margin: 10px 0"/>
            <button id="executeButton" class="btn btn-primary btn-block fa fa-bolt" ng-click="$parent.execute()"> Execute</button>
            <div>
                <div ng-repeat="(key, value) in $parent.processes">
                    <div style="border:1px white solid;padding:5px;margin:5px;">
                        <i class="pull-right fa fa-times btn btn-default btn-sm" ng-click="removeProcess(key)"></i>
                        <div>
                            <b>Process:</b> {{value.process.identifier}}&nbsp;
                            <i class="fa fa-info-circle" tooltip="{{value.description.abstract}}" tooltip-placement="right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <b>Name:</b> {{value.name}}
                        </div>
                        <div id="wpsInput{{key}}">
                            <h4>Input:</h4>
                        </div>
                        <wps-process-input-form key="key" value="value"></wps-process-input-form>
                        <div>
                            <b>Execute:</b> <input type="checkbox" ng-model="value.execute">&nbsp;
                            <i class="fa fa-info-circle" tooltip-html-unsafe='<span style="white-space:nowrap;">Execute a process to see its output.</span><br/>Do not execute a process that is only needed as input to another process.' tooltip-placement="right"></i>
                        </div>
                        <div id="wpsOutput{{key}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </left-pane>
    <center-pane is-full-width="!isLeftPaneVisible">
        <div id="map" class="leaflet-map"></div>
    </center-pane>
</div>
