<ng-form name="wizardForm">
    <input type="radio" ng-model="query.params.type" value="static"> Static</input>
    <div style="margin-bottom:10px;padding-left:20px;max-width:300px;font-style:italic;">
        Create a static timelapse query over a specified time range.
    </div>
    <input type="radio" ng-model="query.params.type" value="live" disabled> Streaming</input>
    <div style="margin-bottom:10px;padding-left:20px;max-width:300px;font-style:italic;">
        Create a timelapse query that will continue to update over time.
    </div>
</ng-form>
