<ng-form name="wizardForm">
    <div class="form-group" style="width:550px">
        <label for="layerName"> Enter a name for this layer</label>
        <input type="text" class="form-control input-sm" name="layerName" placeholder="Enter layer name"
               ng-model="query.params.storeName" required>
    </div>

    <div class="form-group" style="width:550px">
        <label for="geoserverUrl">Enter a server URL</label>
        <div class="input-group">
            <input type="text" class="form-control input-sm" name="geoserverUrl"
                   ng-model="query.serverData.proposedGeoserverUrl"
                   ng-keypress="$event.keyCode == 13 ? query.updateServer() : false"
                   required>
            <span class="input-group-btn">
                <button ng-click="query.updateServer()" type="button"
                        class="btn btn-default btn-sm">Select</button>
            </span>
        </div>
        <div class="alert alert-danger" ng-show="query.serverData.error">
            <i class="fa fa-warning"></i>
            {{ query.serverData.error }}
        </div>
    </div>

    <div class="form-group" style="width:550px">
        <label for="layerSelect"> Select a layer from:
            <span class="label label-success">{{ query.serverData.currentGeoserverUrl }}</span>
        </label>
        <select class="form-control input-sm"
                ng-model="query.layerData.currentLayer"
                ng-init="query.layerData.currentLayer"
                ng-change="query.getFeatureTypeDescription()"
                ng-options="layer.name for layer in query.layerData.layers | orderBy: 'name'"
                ng-disabled="query.serverData.error || !query.layerData.layers"
                required>
        </select>
    </div>

    <div class="form-group" style="width:550px">
        <label for="idField"> ID field</label>
        <div class="btn-group" dropdown>
            <select class="form-control input-sm"
                    name="idField"
                    ng-model="query.params.idField"
                    ng-options="property.name for property in query.featureTypeData.featureTypes[0].properties"
                    ng-disabled="!query.featureTypeData.featureTypes[0].properties"
                    required>
            </select>
        </div>
        <label for="dtgField"> Time field</label>
        <div class="btn-group" dropdown>
            <select class="form-control input-sm"
                    name="dtgField"
                    ng-model="query.params.dtgField"
                    ng-options="property.name for property in query.featureTypeData.featureTypes[0].properties"
                    ng-disabled="!query.featureTypeData.featureTypes[0].properties"
                    required>
            </select>
        </div>
        <label for="geomField"> Geometry field</label>
        <div class="btn-group" dropdown>
            <select class="form-control input-sm"
                    name="geomField"
                    ng-model="query.params.geomField"
                    ng-options="property.name for property in query.featureTypeData.featureTypes[0].properties"
                    ng-disabled="!query.featureTypeData.featureTypes[0].properties"
                    required>
            </select>
        </div>
    </div>

    <div class="form-group" ng-if="query.params.type === 'static'" style="width:550px">
        <label for="">Date &amp; time bounds</label>
        <div class="row">
            <div class="col-sm-1" style="line-height:100px;">Start</div>
            <div class="col-sm-6" style="margin-top:35px;">
                <p class="input-group">
                    <input type="text" class="form-control input-sm" size="10"
                           datepicker-popup="yyyy-MM-dd"
                           ng-model="query.params.startDate"
                           max-date="query.params.endDate"
                           is-open="query.params.isStartCalOpen"
                           datepicker-append-to-body="false"
                           required>
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default btn-sm"
                                ng-click="query.params.isStartCalOpen = query.toggleCalendar($event, query.params.isStartCalOpen)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-sm-2">
                <timepicker class="input-sm timepicker-sm" ng-model="query.params.startTime" show-meridian="false"></timepicker>
            </div>
            <div class="col-sm-2" style="margin-top:40px">
                <button type="button" style="margin-left:10px;" class="btn btn-primary btn-xs"
                        ng-click="query.clearStartDatetime()">
                    <i class="fa fa-eraser"></i> Clear start
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="line-height:100px">End</div>
            <div class="col-sm-6" style="margin-top:35px">
                <p class="input-group">
                    <input type="text" class="form-control input-sm" size="10"
                           datepicker-popup="yyyy-MM-dd"
                           ng-model="query.params.endDate"
                           min-date="query.params.startDate"
                           is-open="query.params.isEndCalOpen"
                           datepicker-append-to-body="false"
                           required>
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default btn-sm"
                                ng-click="query.params.isEndCalOpen = query.toggleCalendar($event, query.params.isEndCalOpen)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-sm-2">
                <timepicker class="input-sm timepicker-sm" ng-model="query.params.endTime" show-meridian="false"></timepicker>
            </div>
            <div class="col-sm-2" style="margin-top:40px">
                <button type="button" style="margin-left:10px;" class="btn btn-primary btn-xs"
                        ng-click="query.clearEndDatetime()"><i class="fa fa-eraser"></i> Clear end
                </button>
            </div>
        </div>
    </div>

    <div class="form-group" style="width:550px">
        <label for="queryCql">CQL</label>
        <input type="text" class="form-control input-sm" name="queryCql" placeholder="CQL filter" ng-model="query.params.cql">
    </div>
</ng-form>
