<div class="modal-header">
  <i class="fa fa-map-marker fa-lg"></i> Query for Distinct Attribute Values
  <i class="fa fa-times pull-right btn btn-default btn-sm" ng-click="$dismiss('cancel')"></i>
</div>
<form ng-submit="distinctValuesQuery.submit()">
  <div class="modal-body">
    <div class="form-group">
      <div>
        <label>Attribute:&nbsp;</label>
        <select class="form-control input-sm" required="true"
                ng-model="distinctValuesQuery.values.attribute"
                ng-options="attr.name for attr in distinctValuesQuery.options">
        </select>
      </div>
      <div style="padding-top:5px;">
        <label>Filter:&nbsp;</label>
        <textarea class="form-control input-sm" ng-model="distinctValuesQuery.values.filter"></textarea>
      </div>
    </div>
    <div class="alert alert-danger" ng-show="distinctValuesQuery.error">
      <i class="fa fa-warning"></i>
      {{ distinctValuesQuery.error }}
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" ng-show="distinctValuesQuery.showSpinner">
      <i class="fa fa-spinner fa-2x fa-spin"></i>
    </div>
    <button class="btn btn-primary" ng-disabled="distinctValuesQuery.showSpinner"
            ng-click="$event.preventDefault();$dismiss('cancel')">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="distinctValuesQuery.showSpinner">Submit</button>
  </div>
</form>
