<div class="playback-control" ng-controller="PlaybackControlController" ng-show="display.isVisible">
    <div class="playback-control-row">
        <button type="button" class="playback-control-button" ng-click="togglePlay()">
            <i class="fa fa-play" ng-show="display.isPaused"></i>
            <i class="fa fa-pause" ng-show="display.isPlaying"></i>
        </button>
        <span class="playback-control-label">{{displayInUtc(playback.curTimestamp)}}</span>
        <div class="playback-control-slider pull-right">
            <input type="range" ng-model="playback.curTimestamp"
                                ng-attr-min="{{playback.minTimestamp}}"
                                ng-attr-max="{{playback.maxTimestamp}}"
                                ng-attr-step="{{step.curStepSec*1000}}"
                                ng-change="updatePlaybackState(true)">
            </input>
        </div>
    </div>
    <div class="playback-control-row">
        <span class="playback-control-label">
            Window: {{follow.curFollowMin | formatMToDHM}}
        </span>
        <div class="playback-control-slider pull-right">
            <input type="range" ng-model="follow.curFollowMin"
                                ng-attr-min="{{follow.minFollowMin}}"
                                ng-attr-max="{{follow.maxFollowMin}}"
                                ng-attr-step="{{follow.followStep}}"
                                ng-change="updatePlaybackState(false)">
            </input>
        </div>
    </div>
    <div class="playback-control-row">
        <span class="playback-control-label">
            Step: {{step.curStepSec | formatSToDHMS}}/frame ({{playback.playbackRate}} fps)
        </span>
        <div class="playback-control-slider pull-right">
            <input type="range" ng-model="step.curStepSec"
                                ng-attr-min="{{step.minStepSec}}"
                                ng-attr-max="{{step.maxStepSec}}"
                                ng-attr-step="{{step.stepStep}}"
                                ng-change="updatePlaybackState(false)">
            </input>
        </div>
    </div>
</div>
