.air-tracker-control
    box-shadow 0 1px 5px rgba(0,0,0,0.4)
    background #ffffff
    border-radius 5px

.air-tracker-layers-control button
    font  14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif
    position 10

.air-track-info-control
    text-align center

.air-track-info-control h4
    margin 5px
    text-align center

.air-track-info-control p
    text-align center

.air-track-info-control-table
    text-align center
    margin-top 1px
    margin-bottom 1px
    background #eaebee

.air-track-info-control-table td
    padding-left 5px
    padding-right 5px

.air-track-info-control-button
    margin-top 5px
    margin-bottom 5px
