.classBanner {
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 1;
    text-align: center;
    white-space: nowrap !important;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    z-index: 9000;
}
.betweenClassBanners {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
}
.unclassified {color: #FFFF00; background: green;}
.confidential {color: #FFFF00; background: blue;}
.secret {color: #FFFF00; background: red;}
.topSecret {color: black; background: #FF6600;}
.sci {color: black; background: yellow;}