.classBanner {
    font-size: 11px;
    margin: 0;
    padding: 1;
    text-align: center;
    white-space: nowrap !important;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9000;
}
.unclassified {color: #FFFF00; background: green;}
.confidential {color: #FFFF00; background: blue;}
.secret {color: #FFFF00; background: red;}
.topSecret {color: black; background: #FF6600;}
.sci {color: black; background: yellow;}
