.distinct-values-query-control-outer
    box-shadow 0 1px 5px rgba(0,0,0,0.4)
    background #ffffff
    border-radius 5px
    padding 5px 10px

.distinct-values-query-control button
    font  14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif
    position 10

.distinct-values-query-control
    text-align center

.distinct-values-query-control h4
    margin 5px
    text-align center

.distinct-values-query-control p
    text-align center

.distinct-values-query-control-form
    text-align right

.distinct-values-query-control-form label
    margin-right 5px

.distinct-values-query-control-form input
    margin-right 5px

.distinct-values-query-control-table
    text-align center
    margin-top 1px
    margin-bottom 1px
    background #eaebee

.distinct-values-query-control-table td
    padding-left 5px
    padding-right 5px

.distinct-values-query-control-button
    margin-top 5px
    margin-bottom 5px
