.block
    transition all 0.2s

.splitter
    background #CCC

.flexy-layout-row
    .splitter
        border none
        background-image url('../assets/3-dots.png')
        background-repeat no-repeat
        background-position center
        background-size contain
