@import 'nib'
@import 'mixins'
@import 'vars'

.feature-type-data-container
    shadow-extrude()
    h4
        margin-bottom 0
    p
        font-size 12px
        border-bottom 1px solid lightgray
        padding-bottom 5px
        margin-bottom 0
    .alert
        font-size 14px

.feature-type-header-container
    overflow-y auto

.feature-type-properties-container
    max-height 200px
    font-size 12px
    overflow-y auto

form
    .alert
        margin-top 5px
    .form-step
        display inline-block
        background #BDDADA
        text-align center
        width 1.5em
        height 1.5em
        border-radius 50%
