.layers-legend-control-colorpicker
    width 20px
    height 20px
    display inline-block
    vertical-align middle
    border 2px solid white
    border-radius 6px
    margin-left 2px
    margin-right 2px
    margin-bottom 3px

.layers-legend-control-label
    margin-left 2px
    margin-right 3px
    font-weight bold

.layers-legend-control-form-group
    margin 0px

.layers-legend-control-weight-input
    display inline-block
    width 24px
    height 22px
    padding 0px 0px 2px 2px
    font-size 14px
    border 2px solid #e4e4e4
    border-radius 6px
    margin-right 2px

.layers-legend-control-button
    width 20px
    height 19px
    padding 0px
    margin-top 2px
    margin-right 4px
    vertical-align text-bottom
    border 2px solid white
    border-radius 6px
    background-color white

.layers-legend-control-button i
    vertical-align top
    padding-top 1px

.layers-legend-control-button-weight
    height 14px
    border 0px
    text-decoration none
    background-position 0
    transition none

.layers-legend-control-button-weight i
    height 5px

.layers-legend-control-btn-group-vertical
    vertical-align top
    margin-top 1px
    margin-left -2px
    margin-right 2px

.layers-legend-control-expanded
    padding-right 2px

.layers-legend-control-separator
    margin-right -2px
