@import 'nib'
@import 'mixins'
@import 'vars'

.layer-query-colorpicker
    width 30px
    height 30px
    display inline-block
    vertical-align bottom
    border 2px solid #d3d3d3
    border-radius 6px
    margin-left 10px
    margin-right 10px

.colorpicker-heatmap
    background radial-gradient(black 2%, #FF5F5F 40%, white 80%)

.layer-control
    padding 5px
    border 1px solid #DEDEDE
    border-radius 5px
    margin 5px
    margin-left 0
    background-image linear-gradient(#F1F1F1, white, #F1F1F1)

.layer-control-hover
    &:hover
        background-image linear-gradient(#F6E5D5, white, #F6E5D5)

.layerManagerViewSwitcher
    >.btn
        padding 0 4px !important
