@import 'nib'
@import 'mixins'
@import 'vars'

.layer-control
    padding 5px
    border 1px solid #DEDEDE
    border-radius 5px
    margin 5px
    margin-left 0
    background-image linear-gradient(#F1F1F1, white, #F1F1F1)

.layer-control-hover
    &:hover
        background-image linear-gradient(#F6E5D5, white, #F6E5D5)
