// Main stylus file.
@import '../../vendor/bower/bootstrap/dist/css/bootstrap.min.css'
@import '../../vendor/bower/font-awesome/css/font-awesome.min.css'
@import '../../vendor/bower/angular-ui-layout/ui-layout.css'
// http://visionmedia.github.io/nib/
@import 'nib'
// applicaton files imports
@import 'mixins'
@import 'vars'
@import 'masthead'
@import 'classification'
@import 'ol'
@import 'forms'
@import 'tabs'
@import 'sitesList'

@font-face
    font-family 'FontAwesome'
    src url('../assets/fontawesome-webfont.eot?v=4.0.3')
    src url('../assets/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../assets/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../assets/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../assets/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight normal
    font-style normal

@font-face
    font-family 'Glyphicons Halflings'
    src url('../assets/glyphicons-halflings-regular.eot')
    src url('../assets/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphics-halflings-regular.svg') format('svg');
    font-weight normal
    font-style normal

body
    overflow hidden

.anchorTop {
    position: absolute;
    top: 0;
}
.anchorBottom {
    position: absolute;
    bottom: 0;
}
.anchorLeft {
    position: absolute;
    left: 0;
}
.anchorRight {
    position: absolute;
    right: 0;
}


.left-pane
    background white
    ul.nav:first-of-type
        height 42px
        border-bottom 1px solid  #BBB
        background linear-gradient(top, white, #EEE)
        padding-top 10px
    .tab-pane
        position absolute
        top 42px
        right 0
        bottom 0
        left 0
        padding 0 10px
        .instructions
            margin-top 20px
            span
                padding 0 10px
            button
                vertical-align text-bottom
        section
            overflow-y auto
            margin 4px
            border 1px solid #E0E4E6
            border-radius 4px
            header
                z-index 600
                position fixed
                height 50px
                width sidePaneWidth - 27px
                padding 20px 10px 10px 10px
                background white
                border-bottom 1px solid #DEDEDE
                background-image linear-gradient(#E0E4E6, white)
                shadow-bottom()
            > ul
                margin-top 55px
            ul
                padding-left 5px
                overflow-y auto
                &.nest
                    li.checkbox:first-of-type
                        margin-top 0
                li.checkbox
                    margin-bottom 6px


label.header-label
    font-weight bold
    color #555
    &:not(:first-of-type)
        margin-top 10px


// ui split bar
.ui-splitbar
    background #CCC

.ui-layout-row
    > .ui-splitbar
        border-top 1px solid #AAA
        border-bottom 1px solid #AAA
        background-image url('../assets/3-dots.png')
        background-repeat no-repeat
        background-position center
        background-size contain
        height 9px
    section:not(:first-of-type)
        margin-top 13px

.map
    background-color: mapBgColor

center-pane
    position absolute
    top 0
    right 0
    bottom 0
    left sidePaneWidth
    &.full-width
        left 0

.left-pane
    position absolute
    top 0
    //top mastheadHeight
    bottom 0
    width sidePaneWidth
    z-index 500
    left -1 * (sidePaneWidth)
    transition left 0.5s ease
    border-right 1px solid #ccc
    //background white
    &.visible
        left 0
        .close-btn i
            -webkit-transform scale(1, -1)
            transform scale(1, -1)
    .btn-container
        position absolute
        top 0
        bottom 0
        right 0
        vertical-align middle
    .close-btn
        position absolute
        transform translateY(-50%)
        top 50%
        width closeBtnWidth
        height closeBtnHeight
        border-radius 0 8px 8px 0
        border 1px solid #CCC
        border-left 0
        user-select none
        cursor pointer
        background linear-gradient(left, white, '#F5F5F5')
        i
            display inline-block
            line-height closeBtnHeight
            margin-left 4px
            -webkit-transform scale(-1, 1)
            transform scale(-1, 1)

.center-top
    position absolute
    left 10px
    right 10px
    height 100px
    z-index 400
    border-radius 0 0 5px 5px
    top -1 * (100px)
    transition top 0.5s ease
    border 1px solid #ccc
    border-top 0
    //background white
    &.visible
        top 0
        .close-btn i
            -webkit-transform scale(-1, 1)
            transform scale(-1, 1)
    .btn-container
        position absolute
        left 0
        bottom 0
        right 0
        text-align center
    .close-btn
        position absolute
        transform translateX(-50%)
        left 50%
        width 70px
        height 20px
        border-radius 0 0 8px 8px
        border 1px solid #CCC
        border-top 0
        user-select none
        cursor pointer
        background linear-gradient(top, white, '#F5F5F5')
        i
            display inline-block
            -webkit-transform scale(1, -1)
            transform scale(1, -1)

.center-right
    position absolute
    top 110px
    bottom 15px
    z-index 400
    width 100px
    border-radius 5px 0 0 5px
    right -1 * (100px)
    transition right 0.5s ease
    border 1px solid #ccc
    border-right 0
    //background white
    &.visible
        right 0
        .close-btn i
            -webkit-transform scale(1, -1)
            transform scale(1, -1)
    .btn-container
        position absolute
        top 0
        bottom 0
        left 0
        vertical-align middle
    .close-btn
        position absolute
        left -20px
        transform translateY(-50%)
        top 50%
        width closeBtnWidth
        height closeBtnHeight
        border-radius 8px 0 0 8px
        border 1px solid #CCC
        border-right 0
        user-select none
        cursor pointer
        background linear-gradient(right, white, '#F5F5F5')
        i
            display inline-block
            line-height closeBtnHeight
            margin-left 4px
            -webkit-transform scale(-1, 1)
            transform scale(-1, 1)

.timepicker-sm
    margin-top -10px
    .btn
        padding 0 12px
        border none

#targetRank, #siteRank
    .timepicker-sm
        .btn
            font-size 10px
        a[ng-click^=decrement]
            vertical-align top
        a[ng-click^=increment]
            vertical-align bottom

.body-targetRank, .body-siteRank
    ul[datepicker-popup-wrap]
        top auto !important
        bottom 25px !important
        left 255px !important

