@import '../../vendor/bower/leaflet-dist/leaflet.css'
@import '../../vendor/bower/leaflet.markercluster/dist/MarkerCluster.css'
@import '../../vendor/bower/leaflet.markercluster/dist/MarkerCluster.Default.css'
@import 'nib'
@import 'mixins'
@import 'vars'

.leaflet-map
    position absolute
    top mastheadHeight
    right 0
    bottom 0
    left 0
    background mapBgColor

.leaflet-control-container
    .leaflet-top
        top controlTop

.leaflet-popup-content-wrapper
    background linear-gradient(top, lighten(mastheadBg, 20%), mastheadBg)
    color white
    font-size 14px
    font-weight bold
    strong
        background #FF00FF
        color white

.leaflet-popup-tip
    background mastheadBg
