@import 'nib'
@import 'mixins'
@import 'vars'

.masthead
    z-index 800
    height mastheadHeight
    background linear-gradient(top, lighten(mastheadBg, 25%), mastheadBg)
    border-radius 0
    .navbar-header
        td
            padding-left 5px
            height mastheadHeight
            vertical-align middle !important
            :last-of-type
                padding-right 15px
    &.navbar-default
        shadow-bottom()
        color mastheadColor
        outline-text-black()
        border-color mastheadBg
        .navbar-nav
            > li
                > a
                    outline none
                    transition color 0.3s ease
                    &:hover
                        color white
    .activeNavItem
        color red !important
    .logo
        max-height mastheadHeight - 2px
    .title
        font-size 18px
