// Adds a simple shadow to show depth.
shadow-extrude()
    box-shadow 0 1px 5px 1px rgba(0, 0, 0, 0.3)

shadow-bottom()
    box-shadow 0px 2px 3px 0px rgba(0, 0, 0, 0.3)

outline-text-white()
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white

outline-text-black()
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black
