@import 'nib'
@import 'mixins'
@import 'vars'

.olImageLoadError
    background-color transparent !important

#targetRank, #siteRank, #activityIndicator
    .olControlZoom
        right 8px
        left auto
    .olControlPanel
        top 70px
        right 8px
        left auto
        background rgba(255,255,255,0.4)
        border-radius 4px
        padding 2px
        cursor pointer
        .olButton
            display block
            margin 1px
            padding 0
            color white
            font-family FontAwesome
            text-decoration none
            text-align center
            height 22px
            width 22px
            line-height 22px
            background-color #130085
            background-color rgba(0, 60, 136, 0.5)
            &:hover
                background-color #130085
                background-color rgba(0, 60, 136, 0.7)
            &:first-child
                border-top-left-radius 4px
                border-top-right-radius 4px
            &:last-child
                border-bottom-left-radius 4px
                border-bottom-right-radius 4px
        div[class*='Active olButton']
            background-color #130085
            background-color rgba(0, 60, 136, 0.7)
            box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)
        .openlayersPopupItemActive, .openlayersPopupItemInactive
            &:after
                content '\f05a'
        .openlayersMeasureDistanceItemActive, .openlayersMeasureDistanceItemInactive
            background-image url('../assets/measure_distance_icon.png')
        .openlayersMeasureAreaItemActive, .openlayersMeasureAreaItemInactive
            background-image url('../assets/measure_area_icon.png')
        .openlayersDrawRouteItemActive, .openlayersDrawRouteItemInactive
            &:after
                content '\f040'
        .openlayersModifyRouteItemActive, .openlayersModifyRouteItemInactive
            &:after
                content '\f0ad'
        .openlayersModifyTrackItemActive, .openlayersModifyTrackItemInactive
            &:after
                content '\f017'
        .openlayersSelectRouteItemActive, .openlayersSelectRouteItemInactive
            &:after
                content '\f046'
        .openlayersImportRouteItemActive, .openlayersImportRouteItemInactive
            &:after
                content '\f090'
        .openlayersDrawEraseAllItemActive, .openlayersDrawEraseAllItemInactive
            &:after
                content '\f12d'

.mapSpinner
    position absolute
    left 50%
    top 50%
    z-index 900

.olControlMousePosition
    font-weight bold

.olControlScaleLine, .olControlMousePosition
    color black
    outline-text-white()
