@import 'nib'
@import 'mixins'
@import 'vars'

.ol-mouse-position
    left auto
    top auto
    bottom 2px
    right 2px
    outlineTextWhite()

.mapSpinner
    position absolute
    left 50%
    top 50%
    z-index 900
