.playback-control-layers-extended
    width 100%

.playback-control
    width 100%

.leaflet-bottom
    width 65%

.playback-control-row
    height 22px

.playback-control-button
    width 18px
    height 18px
    padding 0px
    margin-top 2px
    margin-left 2px
    margin-right 2px
    vertical-align top
    border 2px solid white
    border-radius 0px
    background-color white

.playback-control-button i
    vertical-align top

.playback-control-slider
    margin-left 5px
    margin-right 5px
    display inline-block

@media (min-width: 600px)
    .playback-control-slider
        width 52%

@media (min-width: 850px)
    .playback-control-slider
        width 60%

@media (min-width: 1024px)
    .playback-control-slider
        width 70%

@media (min-width: 1450px)
    .playback-control-slider
        width 80%

.playback-control-label
    vertical-align super
    width 10%
    margin-left 2px
