@import 'nib'
@import 'mixins'
@import 'vars'

// the list of sites in the left nav pane.
.sites-list
    li
        clearfix()
        border-bottom 1px solid #BBB
        &:last-of-type
            border-bottom none
        h4
            font-size 14px
            font-weight bold
        div
            font-size 12px
            float left
            margin 0 6px 3px 0
            padding-right 6px
            border-right 2px solid #CCC
            strong
                color #777

// the list of data layers in the left nav pane
.data-layers
    > li:not(:first-of-type)
        border-top 1px solid #DDD
        padding-top 10px
        padding-bottom 10px
    .fa-globe
        color #49A98A
    .fa-exclamation-triangle
        color #A94442
    .spatial-query-status
        margin-right 32px

.workspace-layers
    > li:first-of-type
        padding-top 4px
