@import 'nib'
@import 'mixins'
@import 'vars'

// the list of sites in the left nav pane.
.sites-list
    padding-left 5px
    li
        clearfix()
        border-bottom 1px solid #BBB
        h4
            font-size 14px
            font-weight bold
        div
            font-size 12px
            float left
            margin 0 6px 3px 0
            padding-right 6px
            border-right 2px solid #CCC
            strong
                color #777


