.trackEditor
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    label
        margin-right 4px
    .interpolationPanel
        margin 2px
        padding 3px
        height 40px
    .statsPanel
        margin 2px 25px
        padding 3px
        font-weight bold
        height 26px
    .pointContainer
        overflow auto
        position absolute
        top 74px
        left 0
        right 0
        bottom 0
        .trackPoint
            margin 6px
            padding 8px
            background-color white
            border-radius 4px
            &.dtgIsEmptyOrInterpolated
                opacity 0.6
            &:hover
                background-color #F6E5D5
                font-weight bold
        .pointNum
            display inline-block
            background #BDDADA
            text-align center
            width 1.5em
            height 1.5em
            border-radius 50%
