<ng-form name="wizardForm" class="form-horizontal">
    <div style="height:531px;">
        <table style="border-collapse:separate;border-spacing:2px;" class="table table-condensed">
            <tr>
                <td style="padding-top:2px"><label>Width*: </label></td>
                <td>
                    <input type="text" class="form-control" ng-model="prediction.width" required>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Height*: </label></td>
                <td>
                    <input type="text" class="form-control" ng-model="prediction.height" required>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Sample Ratio*: </label></td>
                <td>
                    <input type="text" class="form-control" ng-model="prediction.sampleRatio" required>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Coordinate Reference System*: </label></td>
                <td>
                    <input type="text" class="form-control" ng-model="prediction.CRS" required>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Output Type*: </label></td>
                <td>
                    <select class="form-control" ng-options="type.name for type in outputTypes" ng-model="prediction.outputType" required></select>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Workspace to import into*: </label></td>
                <td>
                    <select class="form-control" ng-options="workspace.name for workspace in workspaces | orderBy: 'name'" ng-model="prediction.workspace" required ></select>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>SRS Handling*: </label></td>
                <td>
                    <select class="form-control" ng-options="handling.name for handling in srsHandlingOptions" ng-model="prediction.srsHandling" required></select>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Prediction Name<span ng-show="prediction.predictiveFeatures.length + prediction.predictiveCoverages.length > 4">*</span>: </label></td>
                <td>
                    <input type="text" class="form-control" ng-model="prediction.name" ng-required="prediction.predictiveFeatures.length + prediction.predictiveCoverages.length > 4" ng-blur="checkDuplicateName(prediction.name)">
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Prediction Description: </label></td>
                <td>
                    <input type="text" class="form-control" ng-model="prediction.description">
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px"><label>Feature Selection*: </label></td>
                <td>
                    <input type="checkbox" class="form-control" checked ng-model="prediction.featureSelection">
                </td>
            </tr>
        </table>
    </div>
</ng-form>
