<ng-form name="wizardForm">
    <p>
        Set additional options for finding and ranking targets.
    </p>
    <table>
        <tr>
            <td><label class="tpFieldLabel">Proximity:</label></td>
            <td>
                <input class="tpSpinner" type="number" ui-jq="spinner"
                       ng-model="proximityMeters" min="0" required />
                meters
            </td>
        </tr>
        <tr>
            <td><label class="tpFieldLabel">Start:</label></td>
            <td>
                <input class="tpDatePicker" type="text" ng-model="startDtg" ui-jq="datetimepicker"
                       ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                       st-utc-moment-format="YYYY-MM-DD HH:mm" /> Z
            </td>
        </tr>
        <tr>
            <td><label class="tpFieldLabel">End:</label></td>
            <td>
                <input class="tpDatePicker" type="text" ng-model="endDtg" ui-jq="datetimepicker"
                       ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                       st-utc-moment-format="YYYY-MM-DD HH:mm" /> Z
            </td>
        </tr>
    </table>
    <p class="tpSpacer">
        Give this Target Identification a meaningful name.
    </p>
    <label>Name: </label>
    <input class="tpText" type="text" ng-model="name" required />
</ng-form>
