<div class="glass anchorLeft anchorBottom tpPointsPanel" ng-class="{'ng-hide': !(routeInfo | lodash:'isObject')}">
    <div class="tpPointsPanelDistSpeed">
        <strong  class="tpNoWrap">Distance: {{routeInfo.meters | formatMeters}}</strong>
    </div>
    <div class="anchorLeft anchorRight anchorBottom tpRoutePointsList">
        <div class="tpPointBox" ng-repeat="coord in routeInfo.coords">
            <div class="pointNum pull-left tpCoords">{{$index + 1}}</div>
            Lat: {{(coord | coordToDMSH)[0]}}<br>
            Lon: {{(coord | coordToDMSH)[1]}}
        </div>
    </div>
</div>
