<ng-form name="wizardForm">
    <p>
        Set additional options for finding and ranking targets.
    </p>
    <table>
        <tr>
            <td><label>Proximity:&nbsp;&nbsp;</label></td>
            <td><input type="number" ng-model="proximityMeters" style="width:60px;" min="0" required> meters</td>
        </tr>
        <tr>
            <td><label>Start: </label></td>
            <td>
                <input type="text" ng-model="startDtg" ui-jq="datetimepicker"
                       ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                       st-utc-moment-format="YYYY-MM-DD HH:mm" style="width:120px;"> Z
            </td>
        </tr>
        <tr>
            <td><label>End: </label></td>
            <td>
                <input type="text" ng-model="endDtg" ui-jq="datetimepicker"
                       ui-options="{todayButton: false, yearStart: 1990, yearEnd: 2030, step: 15, format: 'Y-m-d H:i'}"
                       st-utc-moment-format="YYYY-MM-DD HH:mm" style="width:120px;"> Z
            </td>
        </tr>
    </table>
    <p style="margin-top:20px;">
        Give this Target Prioritization a meaningful name.<br>
    </p>
    <label>Name: </label>
    <input type="text" ng-model="name" style="width:250px;" required>
</ng-form>
