<ng-form name="wizardForm">
    <p style="max-width:430px;">
        Choose the source for your {{type}} information. In the next step, you'll be able to modify the {{type}} before proceeding.
    </p>
    <input type="radio" ng-model="source" value="server">  Server
    <div style="margin-bottom:10px;padding-left:20px;max-width:430px;font-style:italic;">
        Select and filter a stored source
    </div>
    <input type="radio" ng-model="source" value="file">  File
    <div style="margin-bottom:10px;padding-left:20px;max-width:430px;font-style:italic;">
        Upload a file containing the {{type}} information (CSV or GeoJSON)
    </div>
    <input type="radio" ng-model="source" value="drawing">  Map Drawing
    <div style="margin-bottom:10px;padding-left:20px;max-width:430px;font-style:italic;">
        Draw {{type}} on the map
    </div>
</ng-form>
