<ng-form name="wizardForm">
    <p class="tpSourceInstructions">
        Choose the source for your {{type}} information. In the next step, you'll be able to modify the {{type}} before proceeding.
    </p>
    <label><input type="radio" ng-model="source" value="server" disabled>  Server</label>
    <div class="tpRadioTxt">
        Select and filter a stored source
    </div>
    <label><input type="radio" ng-model="source" value="file">  File</label>
    <div class="tpRadioTxt">
        Upload a file containing the {{type}} information (CSV or GeoJSON)
    </div>
    <label><input type="radio" ng-model="source" value="drawing">  Map Drawing</label>
    <div class="tpRadioTxt">
        Draw {{type}} on the map
    </div>
</ng-form>
