<ng-form name="wizardForm">
    <input type="radio" ng-model="type" value="sites" disabled>  Sites
    <div style="margin-bottom:10px;padding-left:20px;max-width:300px;font-style:italic;">
        Stationary locations of interest
    </div>
    <input type="radio" ng-model="type" value="route">  Route
    <div style="margin-bottom:10px;padding-left:20px;max-width:300px;font-style:italic;">
        Line indicating a potential travel path
    </div>
    <input type="radio" ng-model="type" value="track">  Track
    <div style="margin-bottom:10px;padding-left:20px;max-width:300px;font-style:italic;">
        Coordinates and times indicating the known (or estimated) movement of an entity
    </div>
</ng-form>
