<ng-form name="wizardForm">
    <label><input type="radio" ng-model="type" value="sites">  Sites</label>
    <div class="tpRadioTxt">
        Stationary locations of interest
    </div>
    <label><input type="radio" ng-model="type" value="route">  Route</label>
    <div class="tpRadioTxt">
        Line indicating a potential travel path
    </div>
    <label><input type="radio" ng-model="type" value="track">  Track</label>
    <div class="tpRadioTxt">
        Coordinates and times indicating the known (or estimated) movement of an entity
    </div>
</ng-form>
