<div st-popup
     ng-repeat="popup in manager.getPopups()"
     class="popupContainer ng-hide"
     ng-class="{'ng-hide': manager.getHideAll()}"
     ng-style="popup.extraStyles"
     ng-click="manager.focusPopup(popup.id)">
    <div class="popupHeader" ng-mousedown="headerDragStart()" ng-mouseup="headerDragEnd()">
        <i class="fa fa-fw" ng-class="::popup.iconClass"></i>
        <span>{{::popup.title}}</span>
        <span class="pull-right">
            <span ng-repeat="button in popup.buttons"
                  class="btn btn-default fa-stack toggleButton"
                  style="vertical-align:top;"
                  ng-click="button.onClick()"
                  ng-class="button.extraClasses()">
                <i class="fa fa-fw fa-stack-1x" ng-class="::button.iconClass"></i>
            </span>
        </span>
    </div>
    <st-widget-compiler widget-def="::popup.contentDef"></st-widget-compiler>
</div>
