<div class="layerStyleMapLayer" style="background-color:white;margin:2px;padding:2px;border-radius:4px;">
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.dragHandle'"></ui-include>
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.layerStyleRow.visibilityName'"></ui-include>
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.layerStyleRow.opacitySlider'"></ui-include>
</div>

<div class="layerStyleGeoJsonLayer" style="background-color:white;margin:2px;padding:2px;border-radius:4px;">
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.dragHandle'"></ui-include>
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.layerStyleRow.visibilityName'"></ui-include>
    <ui-include src="'core/geo/ol3/layers/layer-fragments.tpl.html'" fragment="'.layerStyleRow.opacitySlider'"></ui-include>
</div>


<div class="dragHandle">
    <i class="fa fa-arrows-v"></i>
</div>

<div class="layerStyleRow visibilityName">
    <input type="checkbox" ng-model="layerState.visible"></input>
    {{ol3Layer.get("name") || ol3Layer.get("id") | characters:30:true}}
</div>

<div class="layerStyleRow opacitySlider">
    <span class="layerStyleLabel">Opacity:</span>
    <div class="layerStyleSlider">
        <input type="range" ng-model="layerState.opacity" min="0.0" max="1.0" step="0.01"
               st-float-slider></input>
    </div>
    <span class="layerStyleLabel">{{(layerState.opacity * 100) | number : 0}}%</span>
</div>
