<div class="headerElement" st-start-pop="Start Here" st-start-pop-show="{{show}}"
     st-start-pop-placement="bottom" st-start-pop-trigger st-start-pop-animation="false">
    <div class="headerElement btn-group" dropdown is-open="status.isOpen">
        <div class="headerButton btn" dropdown-toggle>
            <i class="fa fa-bars fa-lg"></i>
        </div>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="button in manager.getButtons()">
                <a ng-click="manager.triggerButton(button.id)">
                    <i class="fa fa-fw " ng-class="button.iconClass"></i>
                    &nbsp; {{::button.title}}
                </a>
            </li>
        </ul>
    </div>
</div>
